[2012-12-01 20:46] jotarun opened #1 "Not working on Android browser"
It seems like the event is not triggered

---

Test platform: Android 2.2 / Webkit 3.1

[2012-12-01 21:07] bradvin commented on #1
thanks for letting me know - I will check it out

[2012-12-02 15:14] bradvin commented on #1
This has been fixed. Turned out that webkit on android did not like using a variable named "class" so I renamed it to className and all is good. I had issues with the file still being cached on my android emulator, so I made a copy of the live demo at http://themergency.com/footable-demo/test/demo2.htm just to make sure it was working correctly

[2012-12-02 15:14] #1 closed, assigned to nobody

[2012-12-04 21:34] cocinerox opened #2 "The sorting arrow is misplaced in latest Firefox (Windows)"
Could you check it? Thanks.
BTW superb effort!

[2012-12-05 05:48] bradvin commented on #2
thanks for the heads up - i will look into now - probably just a css issue

[2012-12-06 19:05] bradvin commented on #2
this has been fixed. I also made the arrow images into a sprite and added a new image for a "sortable" state so you can easily see which columns you are able to sort

[2012-12-06 19:05] #2 closed, assigned to bradvin

[2012-12-06 23:10] cocinerox commented on #2
Works as expected, thanks!
However, I'd suggest to replace Line 51 in footable.sortable.js with

[code]

to prevent displaying multiple indicators when `$('table').footable();` is called more than one time.

[2012-12-07 05:12] fooplugins commented on #2
cool, thanks - I will add that check in, but why are you calling $('table').footable(); twice? That should only ever be called once for each page load.

[2012-12-07 09:12] cocinerox commented on #2
When adding tables dinamically it's simpler to call it after each table.

[2012-12-13 19:16] bradvin commented on #2
I added a check into the base footable js file, so if the table has already been initialized by footable it does not do it again

that should solve your problem

[2012-12-14 03:55] brendanheywood opened #3 "Columns visibility based on priority rather than break points."
Love it! Heaps better than the other plugins I've been looking into.

But there is one thing which I'd prefer to see which is removing columns based on priority rather than set break points. eg:

[code]

To be more concise you could assume that if no priority is specified then it is the highest priority.

There are no break points specified at all. On resize it just checks if the table overflows i

[2012-12-14 03:59] brendanheywood commented on #3
Oh and the most important pro is that is work better on more devices that don't neatly fit into the 'mobile' or 'tablet' ranges.

[2012-12-15 19:49] bradvin commented on #3
Hey Brendan,

That is a very cool idea, and an awesome idea for a future add-on to FooTable

thanks

[2012-12-15 19:49] #3 closed, assigned to nobody

[2012-12-17 03:35] khookguy opened #4 "Sortable Bug"
Sort not working correctly on Date column (using data-value =  Unix epoch time).

See the bug here:   http://marktest.digitalbrandmine.com/bug

To see the bug, sort on date and notice that the top row with date 2012-11-28 is out of place.  Sort on a few other columns, and then come back and sort on Date again, and you will see the sort order even more messed up.

[2012-12-17 05:29] bradvin commented on #4
had a look at your table and you have not specified data-type="numeric" on the date column table header. When sorting dates, you need to tell footable that the data is numeric in order to sort by the unix timestamp data-value

You did include the data-type="numeric" on the reach column, but the others need it too.

[2012-12-17 14:33] khookguy commented on #4
Thanks!  Now, it is working.  Great work with Footable!

[2012-12-17 21:09] khookguy opened #5 "Filtering?"
Any progress with a filtering plugin?

[2012-12-17 22:09] ChadRepoManager opened #6 "Sorting File Conflicting with Details View Click"
Hello,
for some reason the sorting code is conflicting with the details views. I am testing this on Chrome and Firefox on ubuntu and on my iPhone default browser. Your demo version works on these browsers so I thought it might be the downloaded versions. I copied all files and html from your demo version and it still doesn't work on my side. I am totally confused. Any help/Suggestions or Bug?

I h

[2012-12-19 03:05] flazcano commented on #6
download and replace this files in js directory:

http://themergency.com/footable-demo/js/footable-0.1.js
http://themergency.com/footable-demo/js/footable.sortable.js
http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js

and this solve this issue :)

[2012-12-19 10:46] bradvin commented on #5
yes - I am just finishing up the final testing and hoping to release it before 2013

[2012-12-19 10:57] bradvin commented on #6
hi there

Yes I think it is because the demo on my server has not been updated to use the latest versions yet :)

[2012-12-20 10:35] oller opened #8 "Integration Plugin for Responsive DataTables.net"
Hi guys, a great resource you're putting together here.

I've a project, which relies heavily on the great datatables.net and from initial playing around, FooTable isn't far away from seemlessly integrating into it.

If I've time I'll try and write the plugin to this, but figure I should share my thoughts if I'm unable to to.

On each draw of the datatable, you need to re-initialise footable:

[co

[2012-12-20 14:42] bradvin commented on #8
what parts of datatables.net do you rely on? We actually built footable to replace datatables.net on a couple of smaller projects we were working on, but we realise that there are certain things we have not done yet in FooTable.

So.... let's build a few add-ons to get it there :)

Having said that - there are a few things that we believe should only be done on the server side. For example, loadin

[2012-12-22 09:00] bradvin commented on #5
I have just committed the first version of the filtering add-on - check out the new demos

[2012-12-22 09:00] #5 closed, assigned to nobody

[2012-12-22 10:10] #4 closed, assigned to nobody

[2012-12-29 08:04] Agamennon opened #9 "Make it work without table headers"
First, thank you, i am enjoying fooTable a lot!

My request here is to make fooTables also work on tables that does not declare headers, those are useful to display data and sometimes it is not necessary to add headers and having them be responsive would just be awesome

[2012-12-30 09:56] bradvin commented on #9
thanks for the awesome suggestion - I agree with you - sometimes you do not need table headers.
I will build in a way to setup the columns just by using the options when you initialise the plugin

[2012-12-30 16:07] kenzik commented on #9
+1

[2013-01-04 02:50] rocketeerbkw opened #11 "Document jQuery version requirements"
I witnessed a problem using this plugin with Drupal 7 because it comes with jQuery 1.4.4 and this plugin failed due to the second parameter of $.Event() only being added in jQuery 1.6.

It's possible to use jQuery Update module in Drupal to bump up the jQuery version and get this plugin to work, but it took a bit to figure which version is the minimum requirement.

So I can speak that at least jQu

[2013-01-04 05:44] bradvin commented on #11
I will add a check on init for jQuery 1.6, and if it's less then I will through an exception

[2013-01-04 19:09] tinacious commented on #11
I was using jQuery 1.6.2 and it didn't work. I changed it to 1.8.2 which was included in the demo and it works now.

[2013-01-04 20:29] tinacious opened #12 "Expanding not working if sorting clicked (phone)"
Hi there, I'm trying to implement your plugin but unfortunately I've come across an issue. When clicking to sort, that works fine, but if I click to expand a collapsed area after already clicking to sort, the area won't expand. If I refresh and click to expand without clicking to sort, it's fine, but as soon as I click to sort, if I want to expand I need to refresh and expand without sorting.

![p

[2013-01-04 21:25] tinacious commented on #12
### Update

At this moment in time, using the files from [this demo](http://themergency.com/footable-demo/demo-sorting.htm) you provided works. Unfortunately the package off the website is not up to date, and the JS files on Github's master branch are not working either. There are at least 2 instances of `footable.js` dated 15 November floating around and one of them works. The 18 November one doe

[2013-01-04 21:48] tinacious commented on #12
This is a great tool you developed. I love it. I forked it and created a new branch `working-responsive-sortable` in which i changed `footable.js` and `footable.sortable.js` to older the versions I found on [this demo](http://themergency.com/footable-demo/demo-sorting.htm) at this time. These were the versions that worked for my use case. You can view the fork [here](https://github.com/tinacious/F

[2013-01-05 09:18] bradvin commented on #12
Thanks Tina - there was a bug introduced somewhere along the line where the sorted columns no longer expanded. I have fixed the bug in my latest commit https://github.com/bradvin/FooTable/commit/f7d01c6afef17881a83b17fc65d07e744d0fbe93

Please could you test your code again using the latest code

[2013-01-05 09:18] #12 closed, assigned to nobody

[2013-01-05 17:46] bradvin commented on #11
I have just committed some changes that make footable work with jQuery 1.4.4
The demo demo-sorting-filtering.htm now references 1.4.4 and works just fine :)

[2013-01-05 17:46] #11 closed, assigned to nobody

[2013-01-07 16:49] havvg opened #14 "table zebra broken"
When applying FooTable on a table having a zebra (using `:nth-child`), the zebra breaks, as FooTable adds additional `<tr>` elements.

[2013-01-07 17:58] bradvin commented on #14
unfortunately, the way the css nth-child selector works, it will always "break" the zebra stripes when you expand a detail row. One way around this is with some jquery:

$('table').footable().find('> tbody > tr:not(.footable-row-detail):nth-child(even)').addClass('zebra');

[2013-01-08 15:49] jserrao commented on #14
Yeah nth child is kinda weird, but this worked for me FWIW.

[2013-01-08 17:42] #14 closed, assigned to nobody

[2013-01-08 17:43] #6 closed, assigned to nobody

[2013-01-10 16:43] bgallagh3r opened #15 "Use data attribute to disable moving column into the "detail-inner" div."
Love to see another attribute flag to disable footable from adding a column to the details div when it shrinks, it's not really a great option in my opinion since all data in the table should be relevant, but for instance we have form buttons in the last column of a table to allow the user to edit/delete an entry, that may not be needed in mobile.

[2013-01-15 16:26] MrBushid0 opened #16 "Usage with ajax"
Hello,

First, Thank you for the plugin.

I would also like to apologize in advance if this is not a bug/issue but due to my lack of knowledge and should be posted elsewhere...

I'm trying to use footable with JQM, the data is retrieved via a REST service. The response is in json format and it seemed that every time i make an $.ajax or $.getJSON call, the table is filled but it loses its responsiv

[2013-01-15 17:22] boulox commented on #14
Does anyone manage to make it work with the bootstrap markup.  The tweak above can't make it here

[2013-01-20 02:02] tkorsback commented on #16
Hi,
I just started on a new project and thinking of using footable for my tables. I will also load content with ajax so i will most likely get this problem also. I have not looked at the code yet but one thing I can think of is that footable needs to be "refreshed" after the ajax call i done. I don't know if this is the case but it could be. I'll be back when i'm at that point in the project.

[2013-01-20 06:59] bradvin commented on #16
Hey guys,

once footable is initialized, a specific class name is added to the table and then when footable is called again on the table it checks for that class name and if it exists then it does nothing (cause it assumes footable has already run on that table). One way around this is to pull back the entire table in your ajax response and running the $(table).footable(); code on it when the ajax

[2013-01-20 08:34] tkorsback commented on #16
That what I thought. An option to refresh the table would be nice. Great work Bradvin, the plugin looks very promising!

[2013-01-24 18:40] sfunkho opened #20 "Default Hide Columns"
It would be nice to have a **th data-class="footable-default-hide"** option to hide the column when no breakpoints have been triggered, and to show the column when any breakpoints have been triggered.  Here's some proposed code to support such an option (I would just submit a pull request, but I'm new to git and now exactly sure how to do it).

This code would be just before the ft.raise() call in

[2013-01-24 18:52] steveush commented on #15
Hi bgallagh3r,

You should be able to achieve this by using the attribute data-ignore="true". FooTable should ignore the column when creating the detail view.

Thanks
Steve

[2013-01-24 18:54] bgallagh3r commented on #15
Thanks, the documentation isn't really clear on the data-attributes that
can/should be used with footables, thanks for the heads up.

steveush wrote:

[2013-01-24 19:05] steveush commented on #15
No problem, I'll add in some more details on all the data- attributes available in the plugin and there specific functions, I just took a look at the readme now and it seems like I didn't go into much/any detail the first time through ;)

[2013-01-24 19:42] #15 closed, assigned to nobody

[2013-01-25 11:38] steveush commented on #20
Hi sfunkho, could you try using **th data-hide="default"**, the below is from the updated documentation I'm currently writing:

_There is also a breakpoint called "default" which is the fallback breakpoint for when the current screen width is larger than any defined breakpoint. Looking at the built-in breakpoints (480, 1024), "default" will be the active breakpoint for any screen width larger than

[2013-01-25 11:59] steveush commented on #9
Just wanted to add in here I think we should still provide a way configure the table using data- attributes as this was one of the main features of the initial plugin. Possibly doing it via the html col tags? This way you could still configure your columns via data- attributes but not have any headers visible. Just a thought, will try it out and see how it goes.

[2013-01-25 15:15] sfunkho commented on #20
Thanks for the tip.  Somehow I missed that when looking over the code.

[2013-01-25 15:37] steveush commented on #20
No problem, there isn't really much documentation at the moment but I'm working on it I'm just learning Git's Markdown at the moment :) There is also another built-in breakpoint which can be useful called **"all"** and is pretty straight forward in it's use. You can always hide a column on any screen width by applying the **data-hide="all"** attribute to a column header.

[2013-01-25 15:37] #20 closed, assigned to nobody

[2013-01-25 16:49] surrealroad opened #21 "colspan in column header"
the first column (in the table's header) in my table has a colspan set to 3, which causes the other columns to sort incorrectly, i.e. trying to sort any column results in the 2nd column before it actually being sorted.

[2013-01-25 17:16] steveush commented on #21
Hey surrealroad, could you paste a snippet of your table html so I can see your issue my side.

[2013-01-27 17:53] MrBushid0 commented on #16
Hello guys,

I called $(table).footable(); after the ajax call and it's working now.

The plugin is very promising indeed, Thank you Bradvin!!!

[2013-01-28 12:01] surrealroad commented on #21
here's an excerpt:

http://pastebin.com/1qF2zntd

[2013-01-31 15:26] ShawmutSteve opened #22 "Sorting does not work correctly for Alpha or Currency"
Alpha sorting - seems to only be based on the first character.  In your demo (http://themergency.com/footable-demo/demo-sorting.htm), this problem is visible.  If you sort the 'Job Title' column, Aviation Tactical Readiness Officer should sort below Airline Transport Pilot.

Currency sorting - I tried to get this to work by following the example of data-value="1025" (without the currency $ symbol)

[2013-02-01 16:03] ShawmutSteve commented on #22
Ignore the Currency sorting issue - I found https://github.com/bradvin/FooTable/issues/4.  Adding  data-type="numeric"to the <th resolves the issue.

Alpha is the only remaining issue from this ticket.

[2013-02-03 22:35] duckwilliamson opened #23 "Header Groups"
I needed to have header groups for my headers (additional `<tr>` in the `<thead>` with colspans), but didn't want anything to sort. I can't think of a situation where someone would want to sort on a header group, since you should just sort on the lowest level header.

In this light, I modified line 46 of sortable to find "tr:last-child th" to get my desired results. Do you agree this is something

[2013-02-05 09:29] hcvitto commented on #22
same bug here. Here's my example
http://www.vitto.mt.it/app/table.php

[2013-02-05 09:54] steveush commented on #22
Hey guys, I'm looking into this and may end up writing a better compare function, I would use the built in localeCompare function which is supported in all major browsers except that it seems to have some issues in Chrome:

Issue 459 - v8 - localeCompare implementation differs from other ...
http://code.google.com/p/v8/issues/detail?id=459

Issue 19254 - chromium - Javascript localeCompare is not

[2013-02-05 11:57] steveush commented on #20
Apologies for the long delay, I ran into some hardware issues and have just put together a new PC, but on the bright side I have also just updated the README.md to include some more info on the supported data- attributes and there usage.

Thanks
Steve

[2013-02-05 11:58] steveush commented on #15
Apologies for the long delay, I ran into some hardware issues and have just put together a new PC, but on the bright side I have also just updated the README.md to include some more info on the supported data- attributes and there usage.

Thanks
Steve

[2013-02-05 12:29] steveush commented on #22
I've made a change to the sortable plugin and changed the alpha sorting function a little. Please get the latest and your issue should be fixed :)

Thanks
Steve

[2013-02-05 12:29] #22 closed, assigned to nobody

[2013-02-05 20:18] steveush commented on #21
Hi surrealroad,

I've created a new branch called [Colspan](https://github.com/bradvin/FooTable/tree/Colspan) and have made the changes which I think handle the colspans correctly. However I am still testing and fixing any issues as I find them so any feedback is welcome.

There are a two new attributes available for use now, the first is **data-names** which will accept a comma separated list of

[2013-02-05 20:49] steveush commented on #23
Hey duckwilliamson,

I must admit I didn't think about your scenario but your fix seems nice and simple. I looked through the sortable plugin and it seems I need to go through and update the selectors anyway to use **thead > tr > th, thead > tr > td** as used by the core to support **td**'s as well as **th**'s so I'll add in your fix at the same time and test it out.

Thanks
Steve

[2013-02-05 21:01] ggeiger opened #25 "Target the row"
I'm using ajax to delete the row (from my database and from the screen). I'm targeting the table row using:

[code]

Once footable kicks in, it creates 2 table rows for each original row, and I can no longer target the original row this way. Any ideas how I can get this working?

Here is the full script:

[code]

[2013-02-05 21:34] steveush commented on #25
Hi ggeiger,

Could you show me what your table head looks like and where do you have your delete button placed?

The only time I think this would be an issue is if your delete button gets moved to the detail view _(the second row which expands and collapses)_ on smaller resolutions. When creating the detail view only html is copied across, event bindings and such would be lost on any buttons moved

[2013-02-05 23:03] ggeiger commented on #25
Hey! Thanks for the reply. You're correct, the delete button is being moved. Here's my table head:

[code]

The delete button in inside Options

[2013-02-06 00:29] steveush commented on #25
Ok, this is more an issue with how to traverse the DOM and bind with jQuery than an issue with the plugin as it is doing what it's supposed to and creating the detail row, it's the custom removal causing issues.

That said I could probably look at adding some functions to assist with this, but in the mean time I'm always happy to help out where I can and I think there are only really two options a

[2013-02-06 01:11] steveush commented on #23
I've had a chance to play with this now and after testing I've decided to add in some additional support for this in the core plugin. The issue I ran into was simply the group headers were not hidden/shown at the correct breakpoints and they didn't have the correct colspan set according to the number of visible columns which caused layout issues on smaller resolutions.

To accommodate this I added

[2013-02-06 05:15] duckwilliamson commented on #23
That's an excellent solution to the issue. I never had a problem with it because my breakpoints mirror the groups and seem to work fine with the temporary hack. I've implemented your data-group fields and class and it seems to work great!

So now the only thing I'd like to see that's related to this (keep in thread or close & new enhancement?) would be to have any group-row fields come down in the

[2013-02-06 10:33] andi1984 opened #26 "Adapt CSS to simplify mobile text selection"
Hi,

I don't want to add a bug report or something like this, but I think footable should (somehow) make the detail row a little bit more mobile friendly with regard to text selection.

It's really hard to hit & mark the text passages with font-size 14px inside a td. Especially on iOS, you have to make original marking rectangle smaller to fit the specific data-row.

I made it a bit simpler by add

[2013-02-06 12:19] surrealroad commented on #21
Thanks a lot Steve.

On Tue, Feb 5, 2013 at 8:18 PM, steveush notifications@github.com wrote:

##

Sign up for the Synaesthesia beta: http://synaesthesia.surrealroad.com/beta

www.surrealroad.com

[2013-02-06 12:27] steveush commented on #26
Hi Andi,

I agree the detail row leaves much to be desired and is really just a simple data dump of the values to HTML with no real styling added to it. This however was done on purpose as we expected people to make use of the **createDetail** option which is really the function used to create the detail row HTML. They could then style their custom HTML as they liked with no interference from FooT

[2013-02-06 14:24] andi1984 commented on #26
Hi Steve,

thanks for your fast reply!

I already use these customization options. Sure, customization is (more or less) necessary all the time to fit personal needs, but at least in my opinion a plugin should provide a good starting point to work with. Don't understand me wrong, footable is :+1:, but if you have some :clock1: pls work on these styling issues to provide some minimal CSS which cons

[2013-02-06 14:36] steveush commented on #26
Hey Andi,

Yes, I agree with you and will add in some default styles so it's not so eye smacking with no customization. If you provide your CSS as a starting point I could work from there and add it in. I'm currently working in the Colspan branch and will make the modifications there before moving it across to the master branch.

Thanks
Steve

[2013-02-06 14:59] steveush commented on #23
Hi duckwilliamson,

I've looked at how to add in this functionality without affecting any of the other functions of the plugin and the best way I could find was adding in 2 extra properties to the cell data passed to the **createDetail** function.
This function is overridable as an option but I have altered the default to be able to handle grouping and still output the detail row as it did previou

[2013-02-06 15:06] steveush commented on #21
No problem, please take a look and let me know if you find any issues or have any suggestions. As it stands I think this will be moved across to the master if I can't find any problems while testing.

I would also just like to say sorry for the long delay for a response, I had some hardware issues and only got my new PC put together a few days ago.

Thanks
Steve

[2013-02-06 22:40] thesoundguru opened #27 "If first column is hidden, details stop displaying on resize"
Steps to reproduce:
1. If you resize to tablet size so that the first column hides
2. Expand row 1.
3. Maximize to larger than tablet size.
4. Resize back to tablet size and try to expand row 1.

Simple example

[code]

Changing the following line in the resize() method so that row details are not targeted fixes the issue.

[code]

to

[code]

[2013-02-06 23:13] steveush commented on #27
Hi thesoundguru,

I actually picked this issue up while working on the Colspan branch and fixed it by applying the same fix you did :) It just hasn't been merged back into master yet as I'm still testing/waiting on feedback before I do it.

If you like you can grab the [Colspan](https://github.com/bradvin/FooTable/blob/Colspan) branch version and give any feedback on the changes and if you happen

[2013-02-06 23:36] steveush commented on #25
Closing this as it's not a plugin issue and has been answered with no response.

[2013-02-06 23:36] #25 closed, assigned to steveush

[2013-02-08 05:58] duckwilliamson commented on #23
This works great! I'm using the temporary version now and look forward to it moving into release.

[2013-02-08 05:58] #23 closed, assigned to steveush

[2013-02-08 16:53] phuvf opened #28 "Using FooTable on jQuery tabs"
I'm loving the FooTable plugin - congrats on some great work!

I've been playing with it for a couple of days now and have a few suggestions:

1 - I've edited the createDetail function so if there's no text in TH the element, it dosen't display the colon (:)

`for (var i = 0; i < data.length; i++) {
   var ap = '<div>';
   if (data[i].name != '') {
      ap =  ap + '<strong>' + data[i].name + '</s

[2013-02-08 17:12] steveush commented on #28
Hey phuvf,
1. That's exactly what we intended the **createDetail** function to be used for :) You can either modify it in the footable.js file for a global change or just supply it as an option for more specific circumstances.
2. I must admit I don't use jQuery.UI so haven't tested this issue out yet, if you can provide a [jsfiddle](http://jsfiddle.net/) showing your issue that would be great. To

[2013-02-08 17:51] phuvf commented on #28
Steve,

Thanks for the note about createDetail. I'll try not to re-invent the wheel.

There's a fiddle at http://jsfiddle.net/gFxyk/1/. Seems to be a webkit (Chrome/Firefox) issue.

[2013-02-08 21:04] steveush commented on #28
Hi phuvf,

I've had a chance to play around and I think I've found a solution for you, if you take a look at the [fiddle](http://jsfiddle.net/gFxyk/2/) you'll see it now works correctly. The reason for this problem was that when the plugin is loaded or the window resizes, FooTable looks at the breakpoints and decides how to apply itself. The tables on the hidden tabs are inheriting the **display:n

[2013-02-09 10:04] phuvf commented on #28
Steve,

That work great - thanks for the help!

[2013-02-09 10:04] #28 closed, assigned to steveush

[2013-02-09 12:39] fizerkhan commented on #9
+1

[2013-02-10 15:26] kevin-brown opened #29 "Pagination"
I'm considering switching from DataTables to FooTable, but the lack of pagination is holding me back at the moment.

DataTables has great support for pagination, which is needed when you are dealing with large data sets.  FooTable doesn't appear to support this through any of its plugins, which means that you would have to scroll past all of the loaded data to get past the table.

I understand tha

[2013-02-10 16:49] steveush commented on #29
Hey Kevin,

I'm currently working on a fairly substantial change to the underlying framework the plugin is built on to be able to provide better extensions and addons while reducing the amount of code required to write those. Once this is complete I'm definitely going to take a look at making a pagination plugin and providing more events and support for ajax requests. I'm just taking some time to

[2013-02-12 08:53] rashidul0405 opened #30 "Different breakpoints for different orientation"
Hi,

as we already computed orientation and related stuffs. I think it would be gr8 to support different breakpoints for different orientation.

For example: I've implemented FooTable in one of my project. While I'm on portrait mode, I remove the right side bar and when on landscape I wanna c the right side. As width changes so as Footable breakpoints

[2013-02-12 16:37] ggeiger commented on #25
This works brilliantly. Without changing a line, your code was spot on. Thank you for taking the time to help me with this.

[2013-02-12 17:43] steveush commented on #30
Hi rashidul04,

I get where you coming from but I never implemented this sort of functionality as FooTable works solely off width's and allows you to define multiple width's using the **breakpoints** option. I originally intended to use orientation etc in the calculations as evidenced by the **info** object containing these details but as I refactored it down it became apparent that width was the

[2013-02-18 12:40] edmelly opened #31 "Add ARIA roles when sorting tables"
I'm making the switch from DataTables, and one thing that plugin handles very well is accessibility. Specifically, adding ARIA roles to the table where needed. e.g., when a column is sortable the `aria-sort` attribute is added and the `aria-label` amended to reflect that:

(`aria-sort="ascending" aria-label="Title: activate to sort column descending"`).

Is a similar implementation on the cards fo

[2013-02-19 02:12] alonextou commented on #29
I would also love to see this feature, in fact I am currently building it on my own, but not as a plugin. I could consider writing it as a plugin, but if I went that route I'd like to know if you are planning a rewrite which could break backward compatibility. FooTables is a great POC but I'm sure you've noticed it has tremendous potential (to be better than DataTables), so let me know if you woul

[2013-02-19 05:16] bradvin commented on #29
We do realise that Footable needs a pagination add-on. We also believe that Footable can be better than Datatables  - that is why we wrote it in the first place - because we were sick at how difficult datatables was to use and customize. Steve and I would love to get some help on this. It will also be a very good test for the addon framework Steve built into Footable, to make sure it is flexible e

[2013-02-20 17:05] chrisdpratt opened #32 "Table breaks on data reload (AJAX) when in responsive mode."
This is sort of an edge case, but it's also kind of a common pattern. An AJAX request gets fired off which "refreshes" the table, by replacing its rows. This obviously means FooTable needs to run again on the table, which is fine.

The problem comes in when the table is in a "responsive" mode, for lack of a better word. Columns have actually been removed from the table in this view, so when the ne

[2013-02-23 10:51] steveush commented on #30
No response, closing issue.

[2013-02-23 10:51] #30 closed, assigned to steveush

[2013-02-23 10:53] steveush commented on #31
Hi edmelly,

Apologies for the late response I haven't had a PC this last week due to my new motherboard having a fault and being sent back for testing :( Anyway this seems like a simple addition and I'll keep it in mind for the next round of updates I do.

Thanks
Steve

[2013-02-23 10:57] steveush commented on #32
Hi Chris,

This has been brought up in Issue #16 and I will be adding in better Ajax support in the near future allowing you to refresh a FooTable instance to "redraw" the columns once new rows have been added.

Thanks
Steve

[2013-02-23 11:47] Bramjetten commented on #29
+1 I've already started using FooTable and the only thing missing for me is pagination and AJAX. Right now I'm doing what awc737 is doing.

[2013-02-23 14:18] steveush commented on #27
Merged into master.

[2013-02-23 14:18] #27 closed, assigned to steveush

[2013-02-23 14:18] steveush commented on #21
Merged into master.

[2013-02-23 14:18] #21 closed, assigned to steveush

[2013-02-26 09:59] mogoman opened #33 "Reload table"
I have a question and possible enhancement request:

I would like to dynamically show/hide columns. This could be done by adding / removing the data-hide="all" attribute. The problem is that these attributes are read when footable() is run on the table.

Is there any way to make FooTable "reload/refresh" after it has been initialized so that it can reread the data-hide (and other) attributes?

[2013-02-26 10:23] #33 closed, assigned to nobody

[2013-02-26 10:23] mogoman commented on #33
Sorry, I see others want this too

[2013-02-28 15:09] spotvader opened #34 "Issue with initial table size rendering on safari mobile (IOS)."
I am using the footable plugin on two tables that are on separate tabs using jQuery UI tabs.  The tables are working properly and resizing based on the viewport on a regular PC-based browser, but the initial state is not working (scaling down) on the mobile device.  I have to toggle the tabs back and forth about 5 times and THEN the tables resizes as it should.  Any ideas what may cause this?

I a

[2013-03-07 23:19] tburd opened #35 "Filtering"
First of all, thank you @bradvin for this awesome work!

I would appreciate some help with the filtering code...
I have a table where one of the columns displays item's CATEGORIES, and for some reason I would like to filter the table dynamically according to these categories.

I have tried to change the <input id="filter"> value dynamically, but table is refreshed only after keyup events.

Any tip

[2013-03-07 23:29] tburd commented on #35
I solved this using:

[code]

But is there any other option to filter the table and also sort any given row dynamically?
Thanks

[2013-03-08 05:55] bradvin commented on #35
that is a good point, and it would be nice to filter and sort the table programmatically rather than forcing events to fire.

[2013-03-14 16:51] tonycurwen opened #36 "Detail headers don't seem to work"
This is a strange one, as I'm sure they do work because all the demo's work.

However when columns collapse on my table the detail row fails to show the table headers in bold as they do in the demo's.

If I change the createOrUpdateDetailRow function as follows:

[code]

Then it all works for me. I can't anything obviously wrong with table/thead/tr/th or table/tbody/tr/td config.

[2013-03-15 16:56] dhanlon opened #37 "Issues with rowspan?"
I have a table with the first column displaying a grouping value. Rather than repeat that value for each row in the group, I set rowspan on the cell in the first row so that the grouping value is only displayed once.

I tried to use footable on this and make the 2nd column of the table be expandable.

What happens is that when the table collapses, the expand icon is always added to the 2nd cell in

[2013-03-19 19:07] RobKohr opened #38 "Hint when there is expandable data in rows"
So the way it is, some data will be hidden on small screens, but how is the user to know that? It would be great if some icon appeared that hinted that the row folded out.

[2013-03-19 19:11] bradvin commented on #38
The standard footable css includes a big "plus" image that is shown in the first column. Check out the demos

[2013-03-19 19:11] #38 closed, assigned to nobody

[2013-03-20 14:12] JefferE commented on #29
+10 on pagination and ajax. Rarely get a request to build a site with data tables where the dataset is usable within a scrolling div.

[2013-03-22 00:07] codivist opened #39 "Calling it at the bottom of the page - not in the Head tag"
does FooTable not work if it's not called in the head tag?  I'm calling all my jquery stuff just before the close of my body tag, then call .footable() in

[code]

I'm not getting any errors, but no columns that are designated to get hidden are hiding.  Neither tablet or phone.
I'm using jQuery 1.7.2 and Bootstrap 2.2.1

[2013-03-22 00:16] steveush commented on #39
Hi codivist,

It shouldn't make a difference where it is placed as it is called within the jQuery.ready callback which only fires once everything is loaded. I have just tested now on a dummy page moving all script tags and the ready call to the bottom of the body and everything seems to work correctly. I'm not sure what might be causing your issue, do you have a demo page I could look at? Or a fid

[2013-03-22 00:36] steveush commented on #36
Hi Tony,

I'll look into this a bit more as the line you've changed was added to allow for columns with a colspan'd header to still have separate names. You should in fact be able to simply comment out that line without adding anything and the **column.name** value will be used as it is set when the **name** variable is declared.

To explain what that line of code should have been doing is check i

[2013-03-22 00:42] steveush commented on #37
Hi dhanlon,

Currently FooTable has no support for rowspans but it is something I could look into for a future update however this would probably only happen after paging support is released.

Thanks
Steve

[2013-03-22 15:42] railapex commented on #29
Any news on this? I really love the FooTable concept -- it's exactly how I want to do responsive tables down to the phone.

However, I need to fill data through AJAX and use server side sorting/filtering, so it isn't currently workable for me at this point.

How is the refactor coming along? I'd love to contribute a plugin for this, but I'd hate to duplicate effort or get my plugin broken by the r

[2013-03-22 18:56] codivist commented on #39
I'm currently working on it locally but here is a fiddle of what I'm doing
http://jsfiddle.net/ysJ7x/1/
The Stage1, Stage2, and Stage 3 columns should be the ones hiding.

A side note too, I'll be adding sorting to it, but I just wanted to make sure everything was working before I add that in.

[2013-03-23 10:42] steveush commented on #29
Hey Guys,

I've pretty much finished the re-factoring and included a number of fixes and enhancements while doing it. Pagination and Ajax support is underway.

Some of the enhancements I've finished are:
1. No longer require headers. FooTable can be setup using colgroups or directly through the options.
2. Advanced option handling and method calling using the FooTable constructor. It's now possibl

[2013-03-25 20:01] codivist commented on #39
I was able to make this work by removing the "footable-loaded" and "default" classes from the table.  Those class names are in some of the demos, so not sure why its making this one not work.

One thing I have noticed since taking those off is everything is hidden at once, instead of Stage 3, then Stage 2, etc. It's either all of none.

btw, thanks for your hard work on this.

[2013-03-31 22:26] KeithHinde opened #40 "Filtering not working on just html."
I was playing with the sample data and doing a filter.  I entered 'pen', but this didn't filter as I expected.

On inspecting via Firebug, I noticed that the status column has a status-value of 'suspended' and the image also contains the text 'suspended' in it's title and src attributes.

I assume you should be filtering on the html only.

[2013-04-03 10:29] keyrusmaurice opened #41 "click function of jquery does not work"
hi, I have a link, that needs to be treated but the click event is never, when i put the link outside the footable the juery script work but not inside the footable below is a partial code

$('.hotelDetails').click(function() {
        var hotelCode = $(this).attr("code");
        //alert(hotelCode)
        $.ajax({
          type: "POST",
          url: "/getHotelDetails",
          data: { hotel

[2013-04-03 15:19] ricardozea opened #42 "Sorting: Excluding a column"
Hello,

Not if this is doable right now, but I read the documentation and couldn't find find anything related to this case.

My issue right now is that I would like to **exclude** a column from sorting.

The thing is that I have a column that holds thumbnails, just small preview images of the files they correspond to, so "sorting by thumbnail"... the sorting concept doesn't apply in this case.

Is

[2013-04-03 15:34] bradvin commented on #42
rather use data-sort-ignore="true"

[2013-04-03 16:13] ricardozea commented on #42
Ha! It worked great, thanks!

You think you could add this to the documentation in the [Data Attribute Configuration](https://github.com/bradvin/FooTable#data-attribute-configuration) section?

Just saying, since this feature is not documented yet and also thinking about others that may have the same issue.

Just [twitted this solution](https://twitter.com/ricardozea/status/319481864563871744) as

[2013-04-03 16:13] #42 closed, assigned to nobody

[2013-04-04 17:12] mleisher opened #43 "Header Groups revisited"
I was thinking about the Header Groups issue a bit last night and came up with what might be a simpler solution: assuming the TR containing TH/TD elements with FooTable directives is the **last one** in the THEAD, collect a list of TH/TD elements from previous TR elements that are part of the Header Group for each TH/TD in the last TR. That way all of the THEAD columns that need to be hidden with

[2013-04-04 17:37] mleisher commented on #41
I'm assuming the click handler on the row is taking precedence. Try the following:

$('.hotelDetails').click(function(event){
  event.stopPropagation();
.......
});

[2013-04-05 02:38] mvance opened #44 "requirements/backward compatibility with jQuery 1.4.4"
Thanks a lot for writing the prior update to make footable work with jQuery 1.4.4. The [Drupal module integrating FooTable](https://drupal.org/project/footable) has gotten [relatively popular](https://drupal.org/project/usage/footable), as a result.

I'm writing to mention that backward compatibility with earlier versions of jQuery turns out to be an [ongoing issue](https://drupal.org/node/1927442

[2013-04-05 05:12] bradvin commented on #44
cool thanks for letting us know. One thing we do not really do when committing changes is check that is works on such older versions of jquery. Perhaps we should create a new branch that is specific to jquery 1.4.4 - if we do that will mean it might not have all the features that are in the main branch, but at least it will keep working going forward.

Please continue letting us know of issues you

[2013-04-09 05:50] supery0ung opened #45 "Handle Large Number of Rows"
Hi,

I am new to the FooTable. It is great and I like it very much
But I experienced one problem, when the number of rows is large, maybe hundreds or thousands of them, FooTable is not be able to handle them. It crashes.

So I wonder how do you guys do if you have more than 1000 rows, since it has no pagination.

Thank you.

supery0ung

[2013-04-09 05:55] bradvin commented on #45
Hi

We do not ever show that many rows in the table and handle all pagination on the server side. Do you have to show 1000 rows in the table? Will the visitor ever scroll through that many rows?

[2013-04-09 06:02] supery0ung commented on #45
Thank you for replying, in most case I don't need to show that much rows.
But sometimes I need to show some experiment data, so the user may wants to have a glimpse of the whole dataset, even it is tedious to see all of them.

[2013-04-09 06:10] supery0ung commented on #45
I think I will set the max row to 500, thanks.

[2013-04-09 13:47] ricardozea commented on #45
I agree with bradvin, scrolling through that sheer amount of data isn't the best experience.

If the clients need to have a "glimpse" then showing them a table of 1000 rows or more is certainly not a "glimpse". A glimpse would be a pie chart of that data for example.

Your issue is a content issue, not a script issue. You may want to revise the approach you're taking to display that experiment dat

[2013-04-09 18:49] ricardozea opened #46 "Filtering feature: "Reset" button?"
Hello,

Although not an issue per se, is there a way to have/add/create a "Reset" button for the filtering feature?

**Use case**

While working on a demo page for a client, I kept testing the filter feature (which worked very well). The issue I noticed was that every time I wanted to try a new keyword I had to press back space or select+delete.

My thought is that maybe users could very well go t

[2013-04-09 19:40] mleisher opened #47 "Out of FooTable comes Horton"
I started tweaking FooTable internals a couple weeks ago just for my personal projects. It kind of got out of hand and Horton was born.

Why Horton? Because Foo was taken.

Demo: http://www.math.nmsu.edu/~mleisher/Software/javascript/Horton/

Source: https://github.com/mleisher/Horton

[2013-04-09 20:28] supery0ung commented on #45
Thank you rzea for the resources.

[2013-04-10 06:43] fizerkhan opened #48 "Table changes to Mobile Layout when the table is inside one of Twitter Bootstrap tabs"
My application has multiple Twitter bootstrap tabs where i have my tables(which are enabled by Footable). Footable changes the layout of Table to Mobile Layout even if it is in the Desktop.

[2013-04-10 12:52] mwalus opened #49 "Header names are empty"
I was integrating FooTable with DataTable. Everything was ok, but in hidden content (this one which shows in small sizes) column names was empty. I found out that array columns.names is empty. So I changed script to:

[code]

this orginial line:

[code]

to this line:

[code]

And it seems it works. Dunno if it's a bug or i can't use FooTable properly. :)

[2013-04-10 19:35] ricardozea commented on #48
You might want to post your issue in Stackoverflow.com since you may need to post your code in order to get help.

I don't think your problem is really an issue **_of**_ the FooTable script but in your implementation instead.

[2013-04-11 02:33] noahpke opened #50 "jQueryMobile"
Hello,

Any suggestions on getting footable to work with jQueryMobile?

Here is the head of demo.htm file modified with jQueryMobile.

   title FooTable - jQuery plugin for responsive HTML tables /title
   meta name="viewport" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no" /

   link rel="stylesheet" href="http://code.jquery.com/

[2013-04-11 07:27] fizerkhan commented on #48
@rzea Thanks for the reply. I used simple Bootstrab tabs with tables

[code]

[code]

The active tab(table1) works correctly. But all other tab tables changed to Mobile Layout i.e some of fields are hided.

[2013-04-11 15:18] mleisher commented on #48
Try https://github.com/mleisher/Horton/ (very similar to FooTable). It should work, but if it doesn't it will as soon as I can set up a test.

[2013-04-11 17:10] mleisher commented on #50
jQuery Mobile does it's own version of table management. FooTable won't work as far as I can tell. For jQuery Mobile, you have to wrap tables like this:

[code]

[2013-04-11 18:20] mleisher commented on #46
In http://github.com/mleisher/Horton (very similar to FooTable), the Escape key clears the filter input field.

[2013-04-11 18:49] bradvin commented on #48
@fizerkhan can you setup a codepen example reproducing the issue so I can see what is going on - i think it may be because the other tabs are hidden so the table width is being calculated to be 0 so FooTable thinks it needs the smallest breakpoint

[2013-04-11 18:49] bradvin commented on #48
@mleisher are you going to hijack every thread here telling everyone to rather use Horton?

[2013-04-11 18:50] bradvin commented on #49
thanks for letting me know - I think this is a bug

[2013-04-11 18:57] #47 closed, assigned to nobody

[2013-04-11 19:22] mleisher commented on #48
Nope. All done now.

[2013-04-11 20:11] bradvin commented on #46
check out the changes made to the filtering extension

It now takes into account the escape key and I also allow you to clear the filter from your own custom event. So in the filtering demo, I added a "x" link next to the filter which clears the filter. So you can do something similar to do your reset button

[code]

[2013-04-11 20:11] #46 closed, assigned to nobody

[2013-04-11 20:14] bradvin commented on #46
@rzea thanks for the heads up about the typo on my page - it is corrected now

[2013-04-11 20:29] mwalus commented on #49
btw great plugin :) Works with datatables perfectly. I did some changes to make it work. Redraw function will be very useful feature. I've commented some code to force initialization on element which already have footable instance.. not a nice way but it work and makes redraw for datatable redraw callback :P

[2013-04-11 20:46] bradvin commented on #49
can you get the latest code and test the blank column names please - I tried to reproduce the issue with the latest code and all seems to be working fine

[2013-04-11 21:02] alsd opened #52 "bug?!"
When table is placed in a floated div, it shows only the columns without tablet and phone.
Please see the test page. Remove    .f {float:left}  everything works.

Also, in the test page, the last column data-hide is "phone" only and it shows at first for tablet and full width views, however after resize to narrow then resize back to full width, it's still hidden.
http://jsbin.com/uyegih/2

[2013-04-11 21:28] bradvin commented on #48
get the latest code and check out the new demo-with-bootstrap.htm

it does exactly what you trying to do and the resizing issue is now also solved

[2013-04-11 21:28] #48 closed, assigned to nobody

[2013-04-11 21:34] bradvin commented on #52
thanks for letting us know and posting an example - that is some strange behavior indeed

we will look into a fix for using with floats

[2013-04-12 07:05] fizerkhan commented on #48
@bradvin Thanks. It works great.

[2013-04-12 08:45] OliverRC commented on #52
You can set a width on the containing element to stop this behavior.
.f {
   float: left;
   width: 50%;
}

[2013-04-12 08:50] bradvin commented on #52
yes that should do it - setting something to float without specifying a width can lead to strange behaviour

Setting the width in the above jsbin solved the problem

[2013-04-12 08:50] #52 closed, assigned to nobody

[2013-04-12 19:00] alonextou commented on #29
@steveush where are these changes? I don't seem them reflected in the master branch currently.

[2013-04-14 02:45] Neener54 commented on #35
You can accomplish this somewhat with https://github.com/rbayliss/Dropdown-Table-Filter.  It creates dropdowns.  I'm certain it wouldn't take much work to modify this for your situation.

[2013-04-15 01:12] EWB commented on #44
I just wanted to make a plea for supporting jQuery 1.4.4.  Our Drupal 7 projects will greatly benefit from Footable - and most of the options for moving to a higher/more up-to-date version of jQuery (as noted by mvance) are causing issues with other aspects of our deployments.  So, while completely understanding why this plea for supporting a now antique version of jQuery may not be feasible - it

[2013-04-15 03:19] ricardozea commented on #46
Sorry for my late reply.

I checked your filtering demo but I don't see the "x" link you mentioned: http://themergency.com/footable-demo/demo-filtering.htm

Did I miss something?

Thanks.

[2013-04-15 05:49] bradvin commented on #46
@rzea I have not updated the live demos on my site yet - check out the latest code, it is in there

[2013-04-15 05:52] bradvin commented on #44
I think creating a branch to cater for this type of backwards compatibility is the only way then.

[2013-04-15 12:49] EWB commented on #44
That would be fabulous - and very much appreciated.

[2013-04-15 15:26] ricardozea commented on #46
Got it, will check. Thanks again.

EDIT--

@bradvin Resetting the input field with the `ESC` key works great man, thanks a million for implementing.

EDIT 2--

OFFTOPIC: Your Encoder/Decoder extension for Chrome is a godsend, thanks for that as well. [Twitted about it.](https://twitter.com/ricardozea/status/323840683964260352)

[2013-04-16 06:16] alonextou commented on #29
UPDATE: woohoo! Everything is working great: https://github.com/bradvin/FooTable

I would probably consider this issue resolved.

[2013-04-18 19:09] svenspielvogel commented on #29
The re-init isn't working yet, is it?

[2013-04-19 11:19] bradvin commented on #29
Rather trigger the custom event footable_resize like so:

$('table').trigger('footable_resize');

This will call the footable resize function which will redraw the table and do everything you expect from the re-init while keeping all the bindings in place

[2013-04-19 11:19] #29 closed, assigned to steveush

[2013-04-21 08:40] ghost opened #56 "Ignore javascript when clicking link"
Can I somehow ignore the dropdown if I click a link in a row? It triggers the javascript before updating the page.

[2013-04-21 09:25] bradvin commented on #56
This was fixed quite a while ago. Do you have an online example on codepen or JSFiddle where the link is still expanding the detail row? Perhaps it is still using an older version?

Cause the row should only expand if the cell is clicked. If you click elements inside the cell it should not trigger the expand. Check out demo2.htm which has links in the cells

[2013-04-21 09:25] #56 closed, assigned to nobody

[2013-04-21 09:32] bradvin commented on #46
@rzea cool - glad you like the chrome extension too - I was sick of having to visit websites to decode/encode URLs and HTML

[2013-04-21 10:45] ghost commented on #56
If I click the first last name in http://themergency.com/footable-demo/demo2.htm when width is small, it opens a new tab, but it expands the row.

[2013-04-21 11:14] ghost opened #57 "Totals"
It would be a great feature to add totals in the bottom of the table which acts correctly according to the filter.

[2013-04-21 11:30] adis-io opened #58 "Using with bootstrap-data-table by jeffdupont"
I'm using this plugin -> https://github.com/jeffdupont/bootstrap-data-table

How to integrate with this plugin?

I tried to paste $('.footable').footable(); here
https://github.com/jeffdupont/bootstrap-data-table/blob/master/bootstrap-datatable.js#L172
but nothing is happened.

P.S. sorry for my bad engish

[2013-04-21 14:12] ghost opened #59 "Multiple tbodys"
Is it possible to use FooTable with multiple tbodys? When I sort it appends new rows.

[2013-04-21 14:12] bradvin commented on #56
that is old and outdated. I need to update the demos at some point.
Download the code and look at demo2.htm and you will see it is fixed

[2013-04-21 15:17] ghost opened #60 "Multiple tables with pagination"
Isn't it possible to have multiple tables with the pagination feature?

[2013-04-21 15:18] ghost commented on #56
I see. Thank you :-)

[2013-04-22 08:00] ghost opened #62 "Combined with jquery ui sortable"
When combined with jquery ui sortable the columns doesn't keep their widths. Does anyone know a workaround?

[2013-04-22 09:16] kafele opened #63 "Cannot use it whith the table that contains 2 rows in tag thead"
framework yii generates  table  like below.  When removing  "&lt;tr class="filters"&gt;...&lt;/tr&gt;"  FooTable works, otherwise not.

&lt;table class="footable"&gt;
&lt;thead&gt;
&lt;tr&gt;
&lt;th data-class="expand" id="yw0_c0"&gt;
&lt;a class="sort-link" href="/index.php/payment/admin?Payment_sort=number"&gt;Number&lt;/a&gt;&lt;/th&gt;
&lt;th data-hide="phone" id="yw0_c1"&gt;&lt;a class="sort-

[2013-04-22 10:55] mkashif130 opened #64 "footable on nested repeater adds comma in textbox"
I have a repeater inside a repeater (that is nested repeater) and applied foo table on it. problem is , when foo table is applied on the repeater (that is , when it is in tablet or cell phone format) a comma is added in textbox. eg: if I enter "empty" in textbox it shows as ",empty" . if i remove ",empty" and add "empty1" then it will show ",empty1,emtpy" in textbox. when i open the page in deskto

[2013-04-22 20:49] bradvin commented on #62
Please can you post an example of this issue using codepen or jsfiddle? It really would help alot

[2013-04-22 20:50] bradvin commented on #60
I am working on a fix for this at the moment

[2013-04-22 20:53] bradvin commented on #59
This was never tested. It was always assumed that the table would only include a single tbody

[2013-04-22 20:57] bradvin commented on #57
This is a great idea for a footable extension. check out the plugin template to see how easy it is to create an extension : https://github.com/bradvin/FooTable/blob/master/js/footable.plugin.template.js

[2013-04-22 20:59] bradvin commented on #64
Please can you post an example of this issue on codepen of jsfilddle

[2013-04-22 21:15] bradvin commented on #63
I can make this configurable via options, something like

columnDataSelector : '> thead > tr:last-child > th, > thead > tr:last-child > td'

and in your case you can change this to rather be

columnDataSelector : '> thead > tr:first-child > th'

[2013-04-22 21:41] bradvin commented on #63
committed : https://github.com/bradvin/FooTable/commit/3625f12e0288b3d793d07f5bbcae2c035edb4c5d

[2013-04-22 21:41] #63 closed, assigned to nobody

[2013-04-23 04:56] mkashif130 commented on #64
Thanks bradvin for taking some time out for the issue.

This is what I entered when foo table is applied.
![image](https://f.cloud.github.com/assets/4223753/412834/a5785b2a-abd1-11e2-99bf-f43cc6cc8d9f.png)

This is what it becomes after hitting save button:
![image](https://f.cloud.github.com/assets/4223753/412836/d3187ab0-abd1-11e2-9847-b0018bdbdf27.png)

This is a sample project I created for yo

[2013-04-23 06:15] bradvin commented on #64
Thanks for posting the project - I got it running and saw what the issue is. When the footable creates the detail row, it duplicates the contents of the cells. So in your example it duplicates the inputs. Your asp.net site works off unique names for each control, so the values gets passed back to the form as a comma separated list (because there are 2 controls with the same name) and a comma is in

[2013-04-23 08:10] lilith712 opened #66 "Table resizes to tablet instead of phone when first loaded"
Hi,

first of all I want to thank you for the amazing plug-in. It makes like much easier!

Yesterday I bumped into an issue and I cannot figure put how to solve it. I have a responsive template based on bootstrap and the page is divided in 3 columns. In the second and third column I have 2 tables. When I first load the page, the first table resizes (to phone breakpoint) but the second doesn't.
I h

[2013-04-23 08:24] bradvin commented on #66
Hi Elisa - do you have a public URL? Or can you create a jsfiddle or codepen duplicating your problem so I can check it out?

[2013-04-23 08:59] lilith712 commented on #66
Hi, thanks for your quick reply.

Unfortunately I don't have it online as it is a jsp webapp and we are working locally.

I have created a jsfiddle but there the footable doesn't work at all.
The link is http://jsfiddle.net/4RpE8/4/
In my page the column 2 works perfectly, while column 3 gets to tablet-size instead of phone.

[2013-04-23 09:02] lilith712 commented on #66
Sorry, stupid me. I didn't add the jquery call to start footable. Here you have the correct link to look at.
http://jsfiddle.net/4RpE8/6/
in jsfiddle it works, but not in my page.
(Although the breakpoint when resising the window in jsfiddle as a bit different - Here you have the linnk to the screenshot I took https://docs.google.com/file/d/0Bzf6gZm6FES0WDAxSVZ6LWk0cjQ/edit )

[2013-04-23 09:22] mkashif130 commented on #64
Thanks , your help will be highly appreciated.

[2013-04-23 10:47] bradvin commented on #66
check out http://jsfiddle.net/4RpE8/7/

I had to override the footable function for calculating widths by looking at the table's parent width

The data in the table was causing it to act weirdly

[2013-04-23 10:53] bradvin commented on #60
yes - get the latest code and check out demo-pagination-multiple.htm

[2013-04-23 10:53] #60 closed, assigned to nobody

[2013-04-23 13:14] lilith712 commented on #66
hi, thanks a lot! that is great!

[2013-04-23 13:14] #66 closed, assigned to nobody

[2013-04-24 05:45] bradvin commented on #64
there is now a new event raised when creating or updating the detail row : https://github.com/bradvin/FooTable/commit/b35da00ac0b0a1f6509a85cfc668d86d47826e75

You will still need to be quite clever how you do this to get it working. I was thinking perhaps appending "_hidden" to the name and id of the inputs when they are created in the detail row, and removing the "_hidden" when the breakpoint is

[2013-04-24 05:45] #64 closed, assigned to nobody

[2013-04-24 13:31] ashwinkumarvarma opened #67 "Sorting Date Columns"
Hello,

Can I sort Date Columns using Footable sortable plugin?

It doesn't work for me. Any suggestions ?

![DateSortIssue Footable](https://f.cloud.github.com/assets/4245656/419982/1e9aba22-ace3-11e2-897c-4e95a8b09900.JPG)

Date Column
cells[2].Attributes.Add("data-type", "numeric");
cells[2].Attributes.Add("data-sort-initial", "true")

[2013-04-24 14:46] bradvin commented on #67
when using dates your need to supply the date's timestamp value in the data-value attribute

From the demo :

&lt;td data-value=&quot;303892481155&quot;&gt;19 Aug 1979&lt;/td&gt;

[2013-04-24 14:46] #67 closed, assigned to nobody

[2013-04-24 15:25] ashwinkumarvarma commented on #67
Thanks bradvin. It works now. Footable is really great !! It's probably the best responsive grid I have come across recently

[2013-04-24 15:34] bradvin commented on #67
glad you like it - spread the word :)

[2013-04-24 23:28] angeliquejw opened #68 "Predetermined filtering?"
I'm using FooTable (awesome, btw!) with a site I'm creating and would like to know if it's possible to create links (e.g., http://domain.com/mytable.html?search=query ) that prepopulate the filter input and present pre-filtered tables to my visitors. I've tried a few ways of passing the search/filter term from the URL to the input box provided by the filtering plugin, but none have worked yet.

[2013-04-25 12:54] lilith712 opened #69 "Initialise the table on click event"
Hi,

I cannot find a way to initialise my table on click event. I load an external file into a div with jquery load function and after that, I would like to initialise the table. Any suggestions?

The function is

$('.loadData').click(function() {
    $('#loadedData').load('example.htm);
    $('#loadedData .footable').footable();
});

and the table .footable is in example.htm.

Thanks
Elisa

[2013-04-25 17:32] bradvin commented on #69
use the load function's complete callback:

$('.loadData').click(function() {
$('#loadedData').load('example.htm', function() {
    $('#loadedData .footable').footable();
});
});

[2013-04-25 17:32] #69 closed, assigned to nobody

[2013-04-25 17:34] bradvin commented on #68
This is something I want to add - the easiest way would be to raise an event on the table and pass the filter you want to the footable, e.g.:

$footable.raise('footable_filter', 'filter text here');

I will add this soon and let you know

[2013-04-25 19:17] angeliquejw commented on #68
That's outstanding. Thanks so much for the head's up, Brad.

[2013-04-30 05:56] fizerkhan commented on #48
@bradvin When will be this feature be released or tagged?

Now  I uses bower frontend package manager to install packages including FooTable. But Bower could not install the master branch, it works only on Tags. Your changes for this mobile layout is available in master and not yet released or taged. So every time i put **bower install**, code breaks. Now i coping latest code of **footable** manua

[2013-05-01 15:20] bradvin commented on #48
v0.5 tag created

[2013-05-01 17:20] fizerkhan commented on #48
Thanks mate.

On 01-May-2013, at 8:50 PM, bradvin notifications@github.com wrote:

[2013-05-02 08:05] fizerkhan commented on #48
@bradvin Unfortunately the version v0.5 is not semver standard. So bower is failed to fetch the recent tag.

https://github.com/bower/bower/issues/449#issuecomment-17323983

Can you change from v0.5 to v0.5.0?

[2013-05-02 17:39] bradvin commented on #48
deleted v0.5 and added 0.5.0

[2013-05-03 04:53] fizerkhan commented on #48
Thanks.

[2013-05-07 14:47] Tekanewa opened #70 "Reinitialize Pagination"
Hi, I'm trying to combine this plugin with with <a href="https://github.com/rbayliss/Dropdown-Table-Filter" target="_blank">Dropdown-Table-Filter</a> and while the filtering works, it breaks the pagination. Is there a way to reinitialize the pagination of footable?

[2013-05-09 17:34] phalancs commented on #35
This is exactly what i am looking for, but when I implement the Dropdown-Table-Filter it does not filter but trigger the sort. Hmm. Anyone got this sorted?

[2013-05-11 22:18] mvance opened #71 "hidden fields with blank table header appear with a stray colon"
Several users of the [Drupal module](http://drupal.org/project/footable) have noticed a [colon appearing when the table header for a hidden field is left blank](http://drupal.org/node/1958116). I tested with some of the demo tables that ship with the FooTable plugin and was able to verify that the issue exists in the plugin, rather than the Drupal module.

[2013-05-11 23:33] mvance commented on #71
I've opened a [pull request that addresses the issue](https://github.com/bradvin/FooTable/pull/72), so I'll go ahead and close this.

[2013-05-11 23:33] #71 closed, assigned to nobody

[2013-05-13 20:33] camelot3000 opened #73 "colspan issue in detail view"
Hi Steve - I've taken a look at issue 23 and 21 - But they did not fix my problem so I'm starting a new issue.

In detail view (small) my multi colspan items are hidden (things with colspan=3).

I am using Foundation 4 by zurb - Not sure if thats the issue.

I've pasted a scrappy bit of code to look at - (everything is separated in to multiple script tage because I have been removing and adding th

[2013-05-14 02:49] brettboylen opened #74 "Hiding columns and expanding a row to show hidden columns doesn't seem to be working in Google Chrome"
Example: http://www.boyleninc.com/pv/camps/camps_table.php

Log in with the user: dualfragment
(no password required as this system will be going into a separate codebase that already has auth)

It works fine in IE/Firefox but in Chrome it does not hide the headers with data-hide="default" and does not work when data-class="expand" is set, either.  Again, this bug is only in Chrome.

[2013-05-14 02:53] brettboylen opened #75 "Search/filter plugin for footable (jquery plugin) doesn't expand a result if the searched data is in the hidden portion"
If you have data hidden but it shows within the expandable section set when you click the + after setting a column with data-class="expand", and then search via the filter for text that appears only within the hidden columns, it does not auto-expand them.

Example: I have a hidden column and one of the rows has the text "example" in that hidden column.  These hidden columns only show on rows if yo

[2013-05-14 05:54] bradvin commented on #75
The filtering does not auto-expand the row-detail when the search string is found within a hidden column. This functionality was never built in, and I do not think it should be built in, as this is a requirement for your specific project.

Please don't get me wrong, I am not saying it is not useful in this instance, but I think this should be done with custom coding for your project.

You can bind

[2013-05-14 06:05] brettboylen commented on #75
My apologies if I sound like I'm demanding features here.  I'm a PHP developer and my jQuery experience is limited.  I just thought this may be a feature that some others would find useful as an option.

Thanks for the response.  I'll see if my go-to jQuery guy knows the best way to do this.

[2013-05-14 06:19] bradvin commented on #74
you are using the data-hide="default" but I think you should be using data-hide="all" so those columns are always hidden on all screen sizes.

[2013-05-14 06:45] brettboylen commented on #74
hah, thank you.  I think this shows my ignorance when it comes to jquery and such.  It is really odd however that it worked fine in IE/Firefox but Chrome didn't like the default.

Very sorry for wasting your time on this and appreciate that tip that fixed it.

[2013-05-14 06:54] bradvin commented on #74
cool :) Your demo actually revealed a bug in the footable code that I had not noticed before. I will making some changes shortly to fix it.

thanks

[2013-05-14 06:54] #74 closed, assigned to nobody

[2013-05-14 19:57] carlinchisart opened #76 "Javascript Accion in hidden column"
Hi all,

I have to implemente a javascript accion in a colum that i have hidden, i put the javascript code but when the colum is hiden (default) an try to use the javascript functionality the javascript no work.

If i put the colum visible, the javascript code work perfect.

example:

$(document).ready(function(){

[code]

i have one colum call "acciones" if i put visible the colum the alert('clic

[2013-05-16 17:48] bradvin commented on #76
You should rather use delegation to bind your events. Footable "clones" the cell contents into the detail row, so the events are not carried across with the elements. We looked at doing an actual jQuery clone, but it was a messy affair. The best way to bind events is by using the .on function. Take a look at the demo https://github.com/bradvin/FooTable/blob/master/demo-events.htm

[2013-05-16 17:48] #76 closed, assigned to nobody

[2013-05-16 18:20] carlinchisart commented on #76
Thanks!!!! and sorry for the question.

[2013-05-20 20:20] mscdex commented on #8
FWIW I managed to get the two working without rendering bugs (so far) with this:

[code]

My particular setup is only the first column is shown for phone users and tablet/desktop users see all columns, so YMMV.

[2013-05-21 12:36] thehappycoder commented on #16
I am using footable-0.1. After <tr> update, the footable magic breaks and calling footable() again doesn't help. Is footable-0.5 having same issue?

jQuery('.footable').removeClass('footable-loaded').footable() doesn't help.

[2013-05-21 20:52] bradvin commented on #16
Please upgrade to 0.5

There is an event in 0.5: "footable_initialized" which you must trigger on the table, rather then trying to removeClass and re-init footable. Doing a reinit like you are doing will only cause issues and is not recommended at all.

rather do the following:

jQuery('.footable').trigger('footable_initialized');

[2013-05-22 06:54] thehappycoder commented on #16
Installed version 0.5 and called jQuery('.footable').trigger('footable_initialized'); The row didn't shrink as expected.

[2013-05-22 11:34] bradvin commented on #16
You are right - I have setup a new AJAX demo and got the same issue as you.

I have fixed the issue and will commit those changes as soon as I have tested everything

I will post here again after the commit

[2013-05-23 13:06] thehappycoder commented on #16
ok, will be very grateful to have this :) In June I deploy new version of our app to production.

[2013-05-26 22:16] dboune opened #77 "Move demo files into subfolder"
A suggestion from the field.

Move the demo files into a subfolder of their own. This will help those who need to use a build process or repackage.

In my case, my build process alerts me to new files, causing me to need to go take a look and let my build system know what to do with them. If the demo files were in a single folder, it would be easy to just toss out or ignore that entire folder duri

[2013-05-26 22:27] dboune opened #78 "Add package manager project definitions"
Suggestion to add package manager project definitions.

NPM
https://npmjs.org/doc/json.html

Bower
http://bower.io/

There is another called Component, which I admit to never having used.
https://github.com/component/component

If I can find a bit more time later I'll file a PR for NPM and Bower at least.

Thanks!

[2013-05-27 05:21] bradvin commented on #77
@dboune I agree completely! Check out the V2 branch - where there is now a demos folder - and all demo related js and css files have been moved in there - much cleaner

The V2 branch will be merged into master soon, after some more testing has been done

[2013-05-27 05:21] #77 closed, assigned to nobody

[2013-05-27 05:23] bradvin commented on #78
@dboune great suggestion. I have never used these tools before, so if you could help me out that would be great. I reckon make these changes in V2 branch

[2013-05-27 05:27] dboune commented on #77
Ha! I completely missed that. That's what I get for being in a hurry. :)

[2013-05-27 06:58] dboune opened #79 "Table display change notification needs a standardized convention"
I put together a little plugin for zebra row formatting (odd/even class needed for <= IE8), but there is no event raised for page changes from footable.paginate.

Adding the following to footable.paginate worked nicely, but thinking about this also brought up a larger issue. Every plugin that needs to perform an action after the visible data has changed would need to track events for every plugin

[2013-05-27 07:26] dboune commented on #79
The same thing could also be said for a notification that changes are about to begin.

[2013-05-27 08:27] bradvin commented on #79
I have added better events to paging, sorting and filtering events in the V2 branch

But I really like this idea of creating a single event name and passing in the "action" ( I propose action, as a single plugin might have multiple actions)

something like:

<code>ft.raise('footable_changing', { action : 'sort', data : { foo : bar }});</code>

and for after-the-fact:

<code>ft.raise('footable_chan

[2013-05-27 09:51] lilith712 commented on #16
Hi, I have noticed that I have an issue when I trigger footable_initialized - $('#table').trigger('footable_initialized');
I get the error "e.ft is undefined" on the line var $table = $(e.ft.table), $tbody = $table.find('> tbody'), $th; in footable.sortable.js
Am I missing something?
Thank you

[2013-05-27 18:21] dboune commented on #78
I've added several of these in a fork, but haven't tested them yet. I'm especially iffy about the component.js. Once I do I'll submit a PR. If you see anything glaring, let me know.

For NPM
dboune@e55d56db6a88e4a996e1fd990fc462ab4ebf9348

For Bower
dboune@fb4749f391ecc36945e0029b60f59c48d30617e0

For Composer (Primarily a PHP package tool, but can do pretty much anything)
dboune@ca822e5a06da4b121

[2013-05-27 19:01] dboune commented on #79
Sounds good to me!

For the purpose of consistency, it might be helpful to standardize "data" being passed as `{ data: { foo : bar }` in all events. This way you could always expect data (whatever it is) to be in the data 'bucket'. Obviously this is just a documentation issue, since anything can be put into the event data and will not be parsed by `ft.raise`.

`ft.raise(event [,{description}])`

[

[2013-05-28 01:49] dboune opened #81 "Add pagination page size control"
An enhancement request to add a pagination page size control.
### Function

To allow the user to select a number of rows that will be displayed per page. The user will click a control which will present a number of options to the user which they may select from. Selecting an option will cause the number of rows displayed per page to change.
### Options

Enable the developer to add a list of page s

[2013-05-28 06:15] bradvin commented on #78
@dboune thanks for these Damian - I also need to gett the travis CI builds working - have you done something similar before?

[2013-05-28 06:40] seriema commented on #78
I can get Travis to work if we use GruntJS for building the JS. I've done that for other projects, like [Raphaël](https://github.com/DmitryBaranovskiy/raphael).

[2013-05-28 06:57] bradvin commented on #78
@seriema that would be great! If you can help me to get this working I would really appreciate it. I tried to set it up using grunt a couple days ago, but it kept failing. I am new to grunt and node etc so this is all a learning curve for me :)

[2013-05-28 06:58] seriema commented on #78
Cool! I have a team-dinner tonight but I'll have a look at it tomorrow then.

[2013-05-28 08:47] dboune commented on #78
@bradvin no problem! I'm glad @seriema spoke up. I've never set up travis myself.

I've added a basic grunt configuration and added/updated the needed files. The jshint task fails for the moment which is something to be dealt with in the source files, but the uglify task completes. I haven't tested the resulting minified files.

dboune@99fd5a88f4085c089e7f8dc4dc8a2fe8fcd6a033

Also found a stray c

[2013-05-29 19:50] martinconnelly opened #82 "Columns not hiding"
Everything loads correctly, but columns are getting hidden.

Sure it's on me, but I'm not sure how.

jquery and footable loading find. no errors in the inspector.

Possible key:  classes change with window size, but .breakpoint never shows up.  As smallest I've got:  class="footable footable-loaded phone"

More info -- seems like the data-\* attributes might not be working, as "expand" isn't loadi

[2013-05-30 15:30] seriema commented on #78
Sorry got struck with a stomach bug. I wasn't able to Fork @dboune code, but since he already included Grunt then the only thing left is to add this to `package.json`:
    "scripts": {
        "test": "grunt test"
    },
or whatever `grunt xxx` command you want to run.

Basically Travis-CI runs `npm test` so all you need to do is support that command.

[2013-05-30 16:19] dboune commented on #78
@seriema, just curious, why weren't you able to fork?

I will gladly add that right now.

Since qunit or similar is not set up here, it could be a dummy target for test, or it could run jshint. The code would need some cleanup for jshint, but at least then travis would report something useful for the moment?

[2013-05-30 16:25] seriema commented on #78
@dboune I think it's because I already forked this project, and GitHub (at least through the web interface and client app) don't allow multiple forks.

I had created a separate task `grunt test` that just runs jshint. I think it's fine for it to fail on the initial commit. Red-green-refactor ;)

[2013-05-30 16:37] dboune commented on #78
Oh I see.. I guess you would have to instead bring it in another way, like adding a remote to your local. So, something like this:

[code]

I've added the grunt test task which will run jshint.

[2013-05-30 16:48] dboune commented on #78
@bradvin let me know if you would like me to make this a PR.

[2013-05-30 17:08] bradvin commented on #78
@dboune @seriema thanks for the help with this. @steveush was telling me that to pass jshint, footable would need a rewrite, so if the CI build just checks to make sure the code compiles and can run without errors, that is all I want for the time being

@dboune please make a PR

[2013-05-30 17:28] dboune commented on #78
@bradvin I believe that in order to do any testing something like qunit would need to be used. At least, I am unaware of any way to tell grunt or travis to test the ability to compile/run otherwise.

I will add the PR, and then commits can be added to it to support qunit, or fix the jshint errors, or however you want to solve getting travis to work.

As far as passing jshint, there are a number of

[2013-05-31 06:04] bradvin commented on #78
@dboune cool I think we make these changes in the V2 branch

[2013-05-31 06:06] bradvin commented on #81
what about being able to specify what the page size control is. In the filtering plugin, you specify the filter control with a data attr on the table. Perhaps something similar for the page size? Then the dev has full control over where it is and how it looks, we just hook into the change event of that control.

thoughts?

[2013-05-31 07:51] dboune commented on #81
I'm of two minds. On one hand I think the developer should be able to have full control over where and how controls are displayed, and how they interact with core functionality. On the other, it is really helpful to be able to build out the minimum framework and be presented with a sensible default behavior for any given feature.

+1 for both methods, but if I had to choose just one, then develope

[2013-06-03 06:01] bradvin commented on #82
Hi there,

Do you have an online example I can check out? Perhaps in codepen or jsfiddle?

[2013-06-04 01:50] octa7th opened #84 "Columns hidden in big screen / pc"
Well, i have tabs in my web page. Table is hidden by default in tab 2. When i opened tab 2 footable is displaying table like in the phone. I'm wondering there is function to reset size of footable, because when i resize my screen the table is display correctly.

I create a fiddle if you want to see. http://jsfiddle.net/5Ntye/8/embedded/result/

ps. sorry bad english

[2013-06-04 05:53] bradvin commented on #84
You can trigger an event on the table to force FooTable to resize itself:

$('.footable').trigger('footable_resize');

But it will not work with your JSFiddle, as you are using an outdated version (0.1). Update to the latest please

[2013-06-04 05:53] #84 closed, assigned to nobody

[2013-06-05 14:44] seriema commented on #78
You can configure jshint so that it doesn't warn on the stuff you fail, so you start with a passing jshint test. =) Incrementally you can turn things on and fix them.

[2013-06-05 19:36] martinconnelly commented on #82
Columns _aren't_ getting hidden.  Ooof.

Tossed it into codepen, where it works, obviously -- Must have been a conflict with something else -- but thought it was very odd that some classes were loading when others did not.

Was for a shopify theme that's live now, but if you're really curious I can recreate with flat files. If you're not, that's cool too.

[2013-06-06 02:19] bradkeys commented on #16
I'm having the same issue as @lilith712.

_$('.footable').trigger('footable_initialized')_ causes the error mentioned above. Using _$('.footable').trigger('footable_resize')_ does not cause an error. However, neither method appears to resize the table to the original specified page size. After adding new rows via AJAX, the current page gets larger. Clicking a sortable column does trigger the table

[2013-06-06 05:46] bradvin commented on #16
@lilith712 @bradkeys please can you try the V2 branch out - I have been making a lot of changes to that branch and as soon as I have completed all the demos and docs, I will be merging it back into master

[2013-06-06 05:55] bradkeys commented on #16
Actually I have been trying it out the V2 branch all night. Event interception and being able to do this _table.trigger('footable_setup_paging');_ is definitely key to making this work with paginated AJAX requests.

Thanks a lot and keep up the great work.

[2013-06-07 23:10] HTMLGuyLLC opened #91 "Default sorting ASC/DESC <label>enhancement</label>"
I didn't see this in the issues or docs (maybe I missed it), but I want to sort by a column DESC. Is this possible, or will it be?

Nevermind, found it. sorry!

[2013-06-09 09:53] seriema commented on #78
I think we can close this now?

[2013-06-09 15:18] #91 closed, assigned to nobody

[2013-06-09 15:25] #78 closed, assigned to nobody

[2013-06-11 09:46] ShahRukhKhan opened #93 "Textbox in Table"
I have table and have Textbox in each column, on full screen i have enter values in textbox and when i resize browser to phone size textbox lost its values same in opposite case when resize form phone size to full whatever i have enter in textbox in phone size and after resize it to full screen it will lost values.
 if i remove "data-hide='phone,tablet'" from any th (table head) tag this columns t

[2013-06-24 11:08] graystevens opened #94 "Unable to work with new JQuery versions"
Hi All,

I've just tried out Footables (V2) with my website, and I figured I had better report that it doesn't work with anything above version 1.8.3.

Thanks,

Graham

[2013-06-24 18:54] bradvin commented on #94
Hey Graham,

The V2 showcase demo uses 1.9.1 and is working fine: https://github.com/bradvin/FooTable/blob/V2/demos/showcase.htm#L11

[2013-06-27 02:16] lenamtl opened #95 "Looking for a way to hide data-name : in expand view when using group only"
Hi,
Looking for a way to hide
data-name :
in + - expand view (small view) when using group only.

Group 1
title : column info1
title : column info2

What I need is
column info1
column info2

For data-name I'm using & n b s p ;
But I don't know how to remove : only for groups in small view

[2013-06-28 02:13] ghost commented on #34
I'm having this issue as well only I'm seeing it in chrome and ff. I'm using it with bootstrap and using their tabs. I'm also populating the table from my own ajax call to retrieve data before creating the table.

I have a project going live next week with this so any suggestions would be appreciated!

[2013-06-28 05:48] bradvin commented on #34
When the one table is hidden, footable sees the width as 0 and the mobile breakpoint fires.
What you need to do is hook into the tab change event and raise the footable resize event on the table.

this demo : https://github.com/bradvin/FooTable/blob/master/demo-with-bootstrap.htm

shows how to get around this issue

[2013-06-28 05:51] bradvin commented on #95
you need to override the createDetail function using the footable options when you init your table : https://github.com/bradvin/FooTable/blob/master/js/footable.js#L64

something like:

$('table').footable({ createDetail : function(element, data) {
  //do my own stuff here
}});

[2013-06-28 12:44] ghost commented on #34
Thanks so much! For some reason the .trigger method didn't work so I just called it in a timeout javascript function and that took care of it. Really appreciate the quick turnaround!

[2013-06-29 10:44] lenamtl commented on #95
I need it only for groups, I want to keep it for other column type

[2013-07-01 12:48] Anke commented on #37
:-)

[2013-07-01 23:18] emage opened #96 "How can i set the first row to "expand" mode at mobile size?"
Instead of collapsing, is it possible to expand the first one by default?  Not a guru at script so I was just wondering,

Thanks

[2013-07-02 15:17] solumac-sdb opened #97 "callback functions and adding a row help needed."
I need a callback function so that I can total the displayed values, when I run $('table').footable(); I need to count only the tr:visible row totals.

Also I need to add a row to the footable and have it work with it when paging. After I have appended a tr and page away it disappears until I reload the table from scratch.

Would be grateful for any help, thanks.

[2013-07-03 19:47] KimberleyMeyer commented on #45
Are there any plans to add a scroll bar to footable?  I have the need to limit the grid to a certain space and allow scrolling of the table separate from the page it lives on.

[2013-07-03 20:11] ricardozea commented on #45
You can always wrap the table in a DIV and give that DIV a specific height and then overflow-y:auto;

[2013-07-08 20:54] uvadoug2 commented on #16
@bradkeys were you successful in getting the $('.footable').trigger('footable_initialized') to work with the V2?  I was not able to and still get the same error.  footable_resize also did not work for me.

[2013-07-08 20:59] bradkeys commented on #16
@uvadoug2 Yup it worked just fine for me back then after switching to V2. Perhaps something has changed since.

I stopped using FooTable and am now using Bootstrap 3 with AngularJS to do what we need.

[2013-07-08 23:31] alonextou commented on #70
Yes, this is currently in issue

[2013-07-10 14:56] alexisletrotteur commented on #96
Would be interested in that feature too.

[2013-07-10 18:40] jakemdrew opened #98 "data-hide="all" and data-ignore="true" messes up detail row resize"
To recreate using demo 1:
1. Add <th data-ignore="true" data-hide="all"> to any column.
2. Shrink window until all fields are hidden.
3. Expand any detail row
4. Maximize window to full size.
5. detail row does not take up full row width.

I experienced this bug when trying to hide a field completely that I use for row level hidden data.

![image](https://f.cloud.github.com/assets/2107763/776940/0

[2013-07-11 10:52] bradvin commented on #98
please can you test this with the V2 branch and let me know if the issue is solved

[2013-07-11 12:16] jes-carr commented on #16
I had a similar issue updating dynamically the table rows, and V2 fixed it for me.

Hopefully we see the official new release soon.

Great work!

[2013-07-11 12:32] bradvin commented on #16
glad you got it working with the V2 branch @jesucarr

I am busy finishing the docs and demos for V2, which were lacking in the original release and I want to do it right this time around. Hopefully V2 will be available by the end of July

[2013-07-11 22:41] jakemdrew commented on #98
Almost, but still having one issue.  When the window is expanded, the
detail row fills the entire width. However, it does not hide the last
remaining fields when they are showing on the main record. Notice in the
image below that Job, DOB, and Status are showing on both rows.

To Reproduce Behavior:
1. Using footable.js, and footable-0.1.css from V2.
2. Change the demo4 Last Name column to: <th da

[2013-07-11 22:50] jakemdrew commented on #98
just fyi, it also appears in V2 that data-class="expand" only works on the
first column.  In cases where the first column is hidden, (data-hide="all")
the expand icon is not showing up.  The column still expands when clicked
though.

On Thu, Jul 11, 2013 at 5:41 PM, Jake Drew jakemdrew@gmail.com wrote:

[2013-07-12 10:29] bradvin commented on #98
I managed to reproduce your issue, but I am trying to understand your requirement : why would you want to hide the column AND set it to ignore. This means you will never see that column in the table. Are you using that column for  filtering?

[2013-07-12 11:27] bradvin commented on #98
also in V2, I dont rely on the data-class to add the toggle button anymore.
This is now done by adding data-toggle="true" to the column

[2013-07-12 13:49] KimberleyMeyer commented on #45
rzea - Thanks for the suggestion.  That does add the scroll bar, but the headers are also scrolling.  I'm going to need a scroll bar on just the rows so the headers remain in view.  If I come up with a solution, I'll share it.

[2013-07-12 15:11] jakemdrew commented on #98
Sorry, I guess I should have mentioned that. I wrote a footable.editable plugin. It's finally working. I am using the hidden column(s) in cases where the field is auto-increment / primary key and only used to identify the record on the server during Ajax calls.

Sent from my iPhone

On Jul 12, 2013, at 5:29 AM, bradvin notifications@github.com wrote:

[2013-07-12 18:53] bradvin commented on #98
ok cool - I have made some changes to the V2 branch (https://github.com/bradvin/FooTable/commit/adb887c346ce40a58366a04e39cd1476a8fa19c4) which now caters for these types of hidden columns. Your scenario should now just work. Also check out the hidden-columns.htm demo

[2013-07-12 18:53] #98 closed, assigned to nobody

[2013-07-12 18:56] jakemdrew commented on #98
Thanks!  Do you know of a editable plugin for Footable yet?  If I put it on
git hub would you be interested in checking it out / consider including it
in the package?

On Fri, Jul 12, 2013 at 1:53 PM, bradvin notifications@github.com wrote:

[2013-07-12 18:58] bradvin commented on #98
@jakemdrew oh hell yes I would :) please put it up

[2013-07-12 18:58] bradvin commented on #98
@jakemdrew and no - I do not know of one

[2013-07-12 19:03] jakemdrew commented on #98
I will make a few of your demo examples editable today and post to git hub.
 I followed your plug in architecture, but I am sure the code could be
cleaned up.  I will send post a link later.  Thanks!

On Fri, Jul 12, 2013 at 1:58 PM, bradvin notifications@github.com wrote:

[2013-07-13 04:51] bradvin commented on #98
looking forward to it

[2013-07-13 23:10] jakemdrew commented on #98
Ok, I have published the FooTable.Editable code and some demos, including
an ASP.net project with a generic handler example included.  I will write
up some docs when I have time over the weekend.  This is def an "Alpha"
release.  I am sure there are plenty of bugs.  I also exposed some of the
internal functions in a little ftEditable API function of sorts to produce
a few of the demos.  I did this

[2013-07-15 15:56] bluebrat opened #99 "Tables are always minimized on first load"
Hi, I'm having an issue where the tables on a wide screen layout are already being minimized. However, they revert un-minimized as soon as the browser window is resized in the slightest.

Any idea why this could be happening?

Thanks!

[2013-07-15 17:40] JamaicanRumCream opened #100 "FeatReq: Mark rows as no-expand"
My CSS isn't so great, but I need to be able to mark rows as non-expandable. For example, I have a table that has multiple "pseudo-header" rows, or rows for demarking different groups inside the data. The table can not be sortable, but these intermediate header rows should not be expandable when some of their cells are hidden. I have not been able to find out how to do this.
For example see http:/

[2013-07-15 19:24] bradvin commented on #100
Cool feature request, and a great example to add to the demos.
I am busy working on the V2 branch at the moment, so I will see if I can add this quite soon

[2013-07-16 02:49] jakemdrew commented on #98
I finished documenting the API which covers most of the functions in the source code.  This should be very helpful when going through the code.  If you have any thoughts or questions, feel free to drop me a line.

https://github.com/jakemdrew/FooTable.Editable

jakemdrew@gmail.com

[2013-07-16 23:58] ghost opened #101 "Filter specific columns"
Is there a way to filter only on a specific column? I have this setup to display issue statues and if someone types in open I want it to filter all the cases that haven't been resolved yet. The closed field has the text open in it but the subject field could also contain open so I don't want those results to show in the filter.

Any help would be appreciated! Thanks

[2013-07-17 06:02] bradvin commented on #99
Can you give me a URL of your site? Or put up a demo of this on jsfiddle please?

[2013-07-17 17:34] yarhouse opened #102 "Pass column id/class to data-hidden divs?"
First of all, this is the best table plugin I have ever used. Fairly easy to use, and simple enough to style to my liking. Thank you very much for this.

I'm not sure if this already is possible, so please pardon my asking; Is there any way to pass a cells #id or .class into the <div> for each column?

[2013-07-17 19:29] helgatheviking opened #103 "Ignore a row"
Is there a way to exclude a row from the FooTable collapsing magic?  For example, I've got a bottom row (I could make this in <tfoot> if that would help) that spans all the columns and needs to always be visible.

[2013-07-17 20:02] bradvin commented on #103
this is similar to https://github.com/bradvin/FooTable/issues/100

I am currently working on supporting these types of rows and will hopefully have a working demo out in the next day

[2013-07-17 20:09] bradvin commented on #102
thanks for the great comment :)

Let me understand your question correctly:

You want the ids and classes of the table cells to be copied to the detail row's divs?

[2013-07-17 20:12] helgatheviking commented on #103
Cool!  For the time being, I got around this by creating an empty first column, and putting `display: none !important;` on it. Since this column doesn't have the `data-hide` attribute, the bottom spanning row stays visible, but the column doesn't take up any space since I'm not displaying it.

[2013-07-17 20:13] bradvin commented on #70
in the V2 branch, if you trigger the footable_setup_paging event it will redo the paging:

$('table').trigger('footable_setup_paging');

[2013-07-17 20:25] ruffeo opened #104 "Column width issue"
I hope someone has an easy answer to this, but I can't figure out how to set the column width for the table.

![capture](https://f.cloud.github.com/assets/896852/814935/471ef642-ef1f-11e2-8792-84699b75c919.JPG)

[2013-07-19 16:14] yarhouse commented on #102
Yes, thats correct. A class or id called in a cell that is "style='display:none;'" would be passed to the corresponding div located in "footable-row-detail-inner". That would be amazingly helpful in styling the information located in the dropdown. I've run into the specific issue of where I could really use a divider like < hr / > or border-top to separate the dropdown information into chunks.

[2013-07-21 14:10] likentong commented on #16
I tried V2 with dynamically table rows by calling $('.footable').trigger('footable_initialized'), the added row did resize correctly but I faced 2 problems:

a) Every time a single row is added dynamically, it will add another "+" expand image to the previous row.
b) If I add sort & pagination javascript, I will get the error "table is undefined" on the line var  var $table = $(ft.table), $tbody =

[2013-07-21 22:10] bradvin commented on #16
I have made a lot of changes to V2 branch and included a lot more demos and docs within the demos.

I have also changed the event name to trigger. Rather call $('.footable').trigger('footable_initialize');

@liken85 the duplicate "+" bug is now fixed
@lilith712 the table is underfined errors have been fixed

Check out the demo ajax.htm

Please test it out and let me know if you find any issues. th

[2013-07-22 10:26] bradvin commented on #16
@liken85 to hide a column completely, check out the hidden-columns.htm demo.

All you need to do is add a few data attributes for the column:

data-hide="all" - this makes sure the column is hidden at all breakpoints

data-ignore="true" - this makes sure the column is left out the of detail row

[2013-07-22 14:07] likentong commented on #16
@bradvin, thank you. I have figured it out & that's the reason why I deleted the comment.

[2013-07-22 18:13] bradvin commented on #101
this is a cool feature to add - I will try to add this

[2013-07-24 10:00] asawintungmail opened #106 "need to get value in cell hide"
i need to get value in cell hide, when normal table i can get value in cell but when table hide i can not get value in cell please advise

[2013-07-25 10:16] jes-carr opened #107 "Branch V2 not hiding the details row correctly when resizing and having an unused breakpoint"
Steps to reproduce:

Make breakpoints b1 and b2, but only use the b1 in the table headers.
- Go to b1 and open the detail row (footable-row-detail-cell) with the hidden details
- resize to b2 size: controls disappear, but the detail row stays there
- resize to pass the b2 size and the details row gets hidden correctly

An obvious solution is to comment breakpoints if you don't use them, but I thin

[2013-07-25 10:47] jes-carr commented on #16
@bradvin just updated to your latest V2 version and ajax updates on rows stopped working for me. Reverting back to the version you had 14 day ago fixes it

[2013-07-25 17:18] bradvin commented on #96
@emage @alexisletrotteur this feature is built into V2 branch now - check out the demo : auto-expand-first-row-on-breakpoint.htm

[2013-07-25 17:18] #96 closed, assigned to nobody

[2013-07-26 14:55] jes-carr commented on #107
also just noticed something: my breakpoints are named phone,tablet,desktop,largeDesktop. If I change their names (in HTML and JS) to anything else, the details row don't show/hide correctly when resizing...

[2013-07-26 21:19] bradvin commented on #107
@jesucarr thanks for reporting these - i will follow up and fix asap

[2013-07-27 07:11] bradvin commented on #16
I think some event names have changed - do you have an online demo I can test out?

[2013-07-29 07:19] bradvin commented on #107
@jesucarr I managed to reproduce your unused breakpoint issue and fixed that (will commit shortly)

but I cannot repro your second problem with the custom breakpoint names. Do you have an example in jsfiddle or codepen?

[2013-07-29 11:11] jes-carr commented on #16
Sorry mate my code is in a private area :/

[2013-07-29 11:16] jes-carr commented on #107
Sorry as mentioned in the other thread my code is in a private area, and I'm using an old version because otherwise my ajax break. Maybe it only happens in that older version and that's why you can't reproduce it?

[2013-07-29 19:20] alexisletrotteur opened #109 "Set all row to "expand" mode at mobile size?"
Thought #96 would cover that, but now that I second read it was only about the first row... Is it possible to expand all row at mobile size?

[2013-07-30 18:01] tucson-tom opened #110 "Make FooTable Themeroller compatible"
The default theme with the blue-ish header doesn't really fit with various jQuery UI themes.  It would be nice if this had an option to be compatible with Themeroller for consistency.

[2013-08-01 20:25] bradvin commented on #110
@tucson-tom check out the V2 branch - the themeing has improved a lot, but I like the idea of making a theme to support jQuery UI

[2013-08-05 11:31] sunnysetia opened #111 "Add Dynamic row with JQuery"
I am adding dynamic rows with jquery and footable is not working.
I have added this line.
 $('#mytableid tbody tr').footable();

Column hiding is working fine but it is not expanding rest of the columns.
If I try with below line then
 $('#mytableid').footable() then nothing is working.

Please tell me solution....

[2013-08-05 15:40] bradvin commented on #111
$('#mytableid tbody tr').footable(); is not correct, you need to init footable on the table not the table rows.

$('#mytableid').footable(); is correct.

What errors do you get when doing the 2nd call? Have you set the table headers to hide on the different breakpoints?

[2013-08-06 17:10] azzuwan opened #112 "Specify the number of items in page navigation control"
How can I control the number of items displayed in the page navigation control in the table footer?  I'm trying to build a full ajax table where every li item in the navigation control will fetch data from a json end point.

[2013-08-06 18:16] pattan opened #113 "Breakpoint clarification"
It took me a while to understand how the breakpoint used in footables. In a responsive or media-query context to we talk about viewport or device width.

So as I understand it, breakpoint is the **table** width, not the viewport or device width. (But it can be by the use of the function 'calculateWidthAndHeightOverride')

Or am I completely wrong here?

[2013-08-06 18:41] bradvin commented on #113
@pattan the breakpoints in footable did start out as the device width, but it soon became apparent that was not going to work for the masses, so it changed to look at the table width.

But yes, you can override it using that function you mention

[2013-08-06 21:15] xziler8 opened #115 "Anyway to remove the detail view on row-click?"
only have 5 columns, none to hide -- want to remove the click event per row to show the detailed view....haven't found any reference as such...

thanks
AG

[2013-08-07 05:25] #113 closed, assigned to nobody

[2013-08-07 05:57] bradvin commented on #115
@xziler8  good point - it does not make sense to bind the click event if no breakpoint will fire. Same goes for the resize event - if no breakpoints are found in the table, then it should do nothing.

I have made a fix for this and will commit soon after some further testing.

thanks

[2013-08-07 13:53] xziler8 commented on #115
Thanks -- will github notify when commit is made?

On Wed, Aug 7, 2013 at 1:57 AM, bradvin notifications@github.com wrote:

##

Thanks,

Alan

[2013-08-07 17:42] bradvin commented on #115
@xziler8 it will if you watch the footable repo

[2013-08-10 01:33] anneramey commented on #111
I think I'm having a similar problem, but I'm not referencing my rows. When I add a row to my table using jquery, My columns are removed and readded correctly on resizing, but the expand feature doesn't work on the added row(s). A snippet of the code from where the row is actually added is:

var mytable = $('#'+divTag);
mytable.append(row);
mytable.footable({toggleSelector : ' > tbody > tr > .expa

[2013-08-10 02:02] anneramey opened #116 "Sorting prevents cell click function"
I'm defining my table like this:
//apply fooTable to the table with a custom toggleSelector to overwrite the default selector on the entire row.
tableItems.footable({toggleSelector : ' > tbody > tr > .expand'});
//set up delete on click
deleteTableRow(tableItems);

And when the table first loads everything is fine. There is a column that contains a red checkbox (font-awesome). When the user clicks

[2013-08-13 18:20] 6eDesign opened #117 "Question/Issue pertaining to Plugin Development."
@bradvin ,

Thanks for footable!  I wanted to bring something to your attention and also I have a question.  First, you might want to fix the plugin template file as it throws errors when included - I was able to get around this by using the sortable plugin file as a template instead.

Next, my question: is there a hook or method by which I can tell FooTable to rebuild the columns on the table and

[2013-08-13 18:57] bradvin commented on #117
@6eDesign you can force a "redraw" by triggering a custom event:

$(".footable").trigger("footable_resize");

Thanks for letting me know about the plugin template file - I have not updated that file in a while

[2013-08-13 19:10] 6eDesign commented on #117
Hey @bravdin

Thanks for getting back to me so quick.  I actually had browsed through the issues and seen the $(".footable").trigger("footable_resize") trick but it does not seem to be working for me.

Other than changing the data-hide attribute of the 'th' element and changing the the hide attribute for the appropriate breakpoint inside of the ft.columns object - what might I be missing?

Thanks

[2013-08-13 19:18] bradvin commented on #117
ah - I think I know why it appears to do nothing - I have some checks in place to stop resizing from happening unnecessarily. The "state" of the FooTable is not changed, so you need to make it think it has changed. You can do that by clearing the breakpoint data value on the table first:

$(".footable").data(''breakpoint", "");

and then triggering the event

[2013-08-13 19:40] 6eDesign commented on #117
@bradvin - thanks again for the help.

Here's my function for showing columns, maybe you will be able to see where I am going wrong.. I apologize... I know this isn't stackoverflow..

[code]

It is behaving the same as before, the first column to be run through this function shows fine.. subsequent calls only seem to work after a resize of the window.

[2013-08-13 23:48] 6eDesign commented on #117
I have been able to invoke the resize() event by disabling this line in footable.js:
            // This (if) statement is here purely to make sure events aren't raised twice as mobile safari seems to do
            if (!pinfo || ((pinfo && pinfo.width && pinfo.width != info.width) || (pinfo && pinfo.height && pinfo.height != info.height))) {

A bit hackish, for sure but it does get the job done e

[2013-08-14 06:06] bradvin commented on #117
@6eDesign I think I will add a redraw function that forces a redraw no matter what.

And then you can trigger the redraw:

$(".footable").trigger("footable_redraw");

I will make the change, test and commit as soon as possible

[2013-08-14 18:56] 6eDesign commented on #117
@bradvin

Thanks.  That would be great.  Would a "footable_redraw" function work equivalently to the ft.resize() function? (that's what I am currently using after disabling that previously mentioned if statment and it's working well thus far).

If you want, you can check out the work I'm doing - I will make the column picker aspect available as a FooTable plugin once we have this redraw business w

[2013-08-15 17:58] brendan-r opened #118 "Event on clicking row expansion area?"
Figured it out, apologies!

[2013-08-15 17:59] carlinchisart opened #119 "trigger event"
HI all, i have one question, i see the triggers and event function, and i need to do a  rowCollapse action when the user do click in a buton so i have this

$("#tbListaRemisionProductos").on('click', '.btnAccionesRemision',function(evt){
    evt.preventDefault();
    $('#tbListaRemisionProductos').trigger('footable_initialize'););

but i don't want initialize i want the row that are expanded when

[2013-08-15 19:54] bradvin commented on #117
@6eDesign the redraw would work exactly like the resize works now with your changes (sort of)

I had a look at your jsontable repo - nice work - do you have an online demo at all?

[2013-08-16 00:42] 6eDesign commented on #117
Thank you, much appreciated.  There's an example.html file in the repository but I will get something online soon and get you a link.

[2013-08-16 03:15] 6eDesign commented on #117
@bradvin

I will probably build this out a bit better, but here's an online example:
http://6edesign.github.io/JSONTable/

Don't forget to right click on the column headings/play with the column picker.

[2013-08-16 11:33] bradvin commented on #117
wow - looks really cool - I love the column selector/hider - I would love that to become an extension in footable - submit a pull request to the V2 branch when you can

[2013-08-16 19:50] 6eDesign commented on #117
@bradvin - Thanks!  I thought the JSON loader might be something of general use to the community.  I appreciate your kind words.

[2013-08-16 20:07] lenichols opened #121 "What would cause FooTable mobile query not to Expand?"
Footable-Toggle was working just fine. Now suddenly I can not toggle the dropdown expansion view of the hidden columns. What could cause this?

[2013-08-17 09:46] bradvin commented on #121
Does this happen in one of the demos? Or one of your pages? Do you have a jsfiddle or codepen of it?

[2013-08-18 02:16] flickster opened #122 "Only activate/show column if tablet or phone?"
I know this question goes in the opposite direction of FooTable; but am wondering if it would work (can't figure it out in my head at the moment so any help is appreciated!) or if anyone could suggest an alternative solution?

i.e. on a full desktop, the content of a particular column would not show.  However, when the viewport is tablet/phone, the '+' control sign appears, and upon clicking  (or

[2013-08-18 09:47] centhacker opened #123 "Icons behaving strange on Iphone and Ipad"
icons are behaving strangely on iphone and ipad
![img_1951](https://f.cloud.github.com/assets/5254459/982390/27417cc0-07eb-11e3-9d20-c7cc73a8a503.PNG)

[2013-08-18 14:43] yazinsai opened #124 "Working demo?"
I've been having a hard time figuring out which files I need for a working demo (just the core, no sorting or anythign extra). I checked out the demo site you have on [Themergency](http://themergency.com/footable/) but it uses the old version from Nov '12 and the filenames have all changed.

Could you please tell me which `.js` and `.css` files I need to get the barebones version of this working?

[2013-08-19 17:35] nirajaryal opened #125 "About external link to sort table and filter"
Hello :)
First of all, I would like to thank you for this awesome plugin! Thank you so much :)

The thing is, I would really like an external link to sort the table. Some function like,

<code>$('a').click(function(){
$('.demo-table').sort(indexOfColumn,'asc');
});
</code>

Or is there anyway that I could use it?

Could you help me with this?

And I really hope you could add the column specific fi

[2013-08-20 12:38] anneramey commented on #116
I see this on the demo versions, but it's not happening with the version I downloaded from here. I suppose it's something that's been fixed in a current copy?

[2013-08-20 13:34] bradvin commented on #116
Sorry for the slow response - make sure you are using .on to bind your delete events at a table level. The sorting extension shuffles the table rows around which may cause your elements to loose their attached bindings. Binding to the table using .on will safe guard against this:

[code]

I am putting together a new demo showing how to add and remove data from an existing table. Going through this

[2013-08-20 14:29] anneramey commented on #116
Thank you! That fixes the click issue I was having. I await the demo on how to add and remove rows with bated breath. I found deletion pretty straight forward, but adding quite complex. Thanks again.

[2013-08-21 08:50] izorgor opened #126 "Footable won`t work in opera mobile"
Hi,

for some reason footable plugin have issue with opera mobile. When I`m testing in opera mobile emulator, some of the tables load properly and other not. I double checked html and both tables have the same.

Despite the fact that in emulator some tables work, on real mobile device (opera browser) non of them won`t work.

[2013-08-21 13:42] DonGissel opened #127 "data-ignore seems to make columns immune to hiding"
I just upgraded footable a few minor versions, and in today's build, a curious problem appears:

[code]

... works just fine, and hides when it's supposed to. However:

[code]

... does NOT seem to work. The column should hide, and just be excluded from the detail row, but it doesn't disappear at all.

[2013-08-21 19:28] bradvin commented on #127
I cannot reproduce this with the latest code. Also - you must use

data-ignore="true"

instead of "1"

[2013-08-21 19:48] bradvin commented on #126
thanks for letting me know - I will install the emulator and test it out the demos

[2013-08-21 19:50] bradvin commented on #124
The new demo URL will be http://fooplugins.com/footable-demos/

Check out the getting started demo : http://fooplugins.com/footable/demos/getting-started.htm

Then check out the setup tab on that page for full instructions

[2013-08-21 19:50] #124 closed, assigned to nobody

[2013-08-21 20:05] bradvin commented on #126
I installed the emulator and ran through every demo http://fooplugins.com/footable/demos/index.htm
And they all worked 100%

Please could you double check this for me on your side

[2013-08-21 20:08] bradvin commented on #126
@izorgor also - what device did you launch in the emulator? I tested with samsung galaxy S3

[2013-08-21 20:14] izorgor commented on #126
Maybe my theme or plugin have conflict, I`m not sure. I tested on S3 as well.

I also tested on real S3 device and here is the thing:

Opera classic have that issue
Regular Opera doesn`t
Firefox is ok
and Chrome is ok

I have also issue in emulator, you can check it here: http://bit.ly/12q1jdO

It`s kinda strange because some of the tables load footable and some are not.

If it`s work for you then

[2013-08-22 07:12] DonGissel commented on #127
Here's a stripped-down version of the table that causes me grief:

[code]

I'm using the newest version of the script, and this one table is the only one not working.

[2013-08-22 14:22] yazinsai commented on #124
Awesome, thanks @bradvin ! :+1:

[2013-08-23 06:01] bradvin commented on #127
@murderfacemurderfacemurderface thanks for the sample code - I see why it is not firing the breakpoint now. I was checking if the column also had an ignore on it (which was incorrect).

I have fixed the code and will commit shortly

[2013-08-23 07:54] DonGissel commented on #127
Awesome! Thanks for the quick fix. :-)

[2013-08-23 22:26] bradvin commented on #127
@murderfacemurderfacemurderface code is updated and commited

[2013-08-23 22:26] #127 closed, assigned to nobody

[2013-08-25 14:12] bradvin commented on #116
@anneramey a lot of changes and fixes and demos have been updated.

Check out the demos here : http://fooplugins.com/footable-demos/
There is a demo called add / remove rows which uses the new API that is built in now

[2013-08-25 14:12] #116 closed, assigned to nobody

[2013-08-26 12:10] thehappycoder commented on #16
Tried the V2. It works :) and now I can also finally get rid of my custom css because the +/- are fonts now. However, there is small bug. I'll post it under separate issue.

[2013-08-26 12:19] thehappycoder opened #128 "After the row is added via AJAX "detail row" should be re-inited"
I am not sure if it's a bug or a feature but it would be nice to have.
1. New row is created
2. Old one is removed from DOM
3. The details row, however, stays from the last row. And if the ajax call was made after the details had been opened, the detail row stays visible (with old data).

Maybe somehow it is possible to determine that the detail row needs to be re-inited.

I am using footable-2.0

[2013-08-26 12:24] bradvin commented on #128
@thehappycoder the FooTable API has changed a bit in V2 - try calling the redraw method instead of triggering the event. Here is an example:

$('table').data('footable').redraw();

The redraw should force the detail to be redrawn again. If not then that is a bug, but I just had a look at the code and it should do what you are expecting.

[2013-08-26 12:51] thehappycoder commented on #128
jQuery('.footable').data('footable').redraw() didn't help. After refreshing page I see that the data has changed (I have updated_at datetime hidden in detail row).

[2013-08-26 13:00] thehappycoder commented on #128
I forgot to mention that the added row is added right after (in DOM tree) the one that gets deleted at step 2.

[2013-08-26 20:59] bradvin commented on #128
@thehappycoder how are you removing the row from the table? There is a method you can call to remove a row from the table and it removes the detail row too (if it exists)

check out the demo : http://fooplugins.com/footable-demos/?url=http://fooplugins.com/footable/demos/add-delete-row.htm

[2013-08-27 15:03] DustyCarr opened #129 "add-delete-row example"
The demo works great on desktop, but I can't delete any rows on the phone (tested on iPhone 5 and galaxy S3). Tap the X and nothing happens?

[2013-08-28 18:22] bradvin commented on #129
thanks for letting me know i will check it out

[2013-08-29 21:13] bradvin commented on #129
@DustyCarr turns out to be a css issue - I had to make the buttons display inline block and give them a width and then it works, as ios thinks they are empty links.

[2013-08-30 18:19] jlars62 opened #132 "Issues with multiple footables on the same page"
I'm sorry if I have missed something in some documentation, but there seems to be an issue with V2 of footables. I have been using v.5, according to the footable.js header, and just switched over to v2. However, on pages where I have more than one footable, it's as if the second table overwrites the first table.

Examples, if I click a th element of the first table, it tries to sort the second tab

[2013-08-30 18:53] bradvin commented on #132
@jlars62 This was a bug in V2 - we have just fixed it so it should be fine now - check out the new demo called multiple-showcases.htm

Let me know if this update fixes your problem and we will tag this as a new release

[2013-08-30 18:53] #132 closed, assigned to nobody

[2013-08-30 19:17] jlars62 commented on #132
@bradvin Awesome thanks!

[2013-08-30 19:20] michaelGregoire commented on #132
Thanks for squashing this bug so quickly!

[2013-09-01 14:30] bradvin commented on #125
@nirajaryal  this is now available in the latest changes. Check out the sorting demo where it uses the new sorting API

[2013-09-01 14:30] #125 closed, assigned to nobody

[2013-09-01 14:45] bradvin commented on #111
@anneramey @sunnysetia please get the latest code and check out the add-remove demo where rows are dynamically added and removed after footable is initialized

[2013-09-01 14:45] #111 closed, assigned to nobody

[2013-09-01 14:48] bradvin commented on #122
@flickster I think I know what you are after, but that is not currently a feature of footable. There are numerous events you can hook into to accomplish your specific customization. If there are more requests for this feature then we might add it in a future release

[2013-09-01 14:48] #122 closed, assigned to nobody

[2013-09-03 12:20] chibani commented on #101
Any news about a column specific filtering ?

[2013-09-03 12:27] bradvin commented on #101
@chibani at the moment this can be done by overridding the option filter.filterFunction

You could then write a small function to only look at the data you are interested in

[2013-09-03 12:41] chibani commented on #101
Thx, I'll give it a try ;)

[2013-09-04 19:41] JamaicanRumCream commented on #100
Is this implemented yet? I was test driving v2 today and don't see a simple way to mark non-expand. If I change the TD or TH cells I can approximate it (looks like TH cells now don't expand), but then I am getting a "footable-last-column" item that sticks out over the end at phone size where only 3 columns are displayed. My psuedo-header cells have a colspan=5 attribute. If I make all the cells of

[2013-09-04 19:49] bradvin commented on #100
@JamaicanRumCream check out the data-attributes demo where I do something similar. I added class="footable-disabled" onto the TR and then footable leave it alone

[2013-09-05 14:21] JamaicanRumCream opened #133 "Adds extra column with specific row layout"
When a table has a specific row layout, extra columns will be added to the row on phone layout.
My table has pseudo header rows. They have colspan set for the first column, and it is more than the phone table version will show. Also, the pseudo header row will have several empty cells, and then filled cells. When FooTable'd, this header row gets an extra column added.
When the cells after the firs

[2013-09-05 14:22] JamaicanRumCream commented on #100
OK I got it to work, but there is something else that goes on with my table then. See #133.

[2013-09-05 19:58] bradvin commented on #45
@syn4k The pagination add-on you see in FooTable now allows for pagination, but it is only client side. If you are dealing with a large amount of data, you should probably do your processing on the server and only send a small subset of that data to the client. I am not sure what you want me to show you

[2013-09-06 05:47] bradvin commented on #129
this has been fixed now in the latest code

[2013-09-06 05:47] #129 closed, assigned to nobody

[2013-09-06 05:48] bradvin commented on #128
@thehappycoder please let me know if this is now fixed in the latest code so I can close this issue - thanks

[2013-09-12 12:41] ingenuitor opened #134 "Auto Select Column with a Checkbox / Checkboxes or Other Methods"
Hello, I have been playing around with FooTables vs Data-tables and whereas Data-tables has been around forever, FooTables seems to be easier to use, yet missing some vitals. Here is one that is a must http://tetzfiles.com/temp/datatables/
I'm missing something in the documentation or I just can't find a way to to use check-boxes workout using custom scripting, which I'm trying to get away from. L

[2013-09-12 13:07] xziler8 commented on #115
I am watching but cannot discern if this particular fix has been committed.

A

[2013-09-13 05:40] bradvin commented on #115
@xziler8 this fix was committed a while ago. I now check if there are any columns with breakpoints before I bind the toggle action : https://github.com/bradvin/FooTable/blob/V2/js/footable.js#L410

[2013-09-13 05:40] #115 closed, assigned to nobody

[2013-09-13 08:04] drchaks83 opened #135 "Button click in ModalPopupEntender inside grid view not firing"
Hi,
I have a grid view and I have implemented footable for my gridview with Sorting, Pagination and hide columns based on broser width.

In a column I have a linkbutton and I have a modelpopupextender mapped to that link button. Inside modelpopup I have an "Save" button. Basically I am trying to save the changes for that row in DB. On click of edit button the modelpopup is showed and updaing the d

[2013-09-13 13:22] xziler8 commented on #115
thanks Brad.

also on [http://fooplugins.com/footable-demos/] the "Demo's" subheads
should not be possessive... just pluralized.

A

On Fri, Sep 13, 2013 at 1:40 AM, bradvin notifications@github.com wrote:

##

Thanks,

Alan

[2013-09-14 12:29] bradvin commented on #135
@drchaks83 it is probably the way your events are being bound to the save button, but it is hard to tell without seeing it live.

Is it possible to see a live demo of this? jsFiddle or codepen

[2013-09-14 12:30] bradvin commented on #103
if you add <code>class="footable-disabled"</code> to the row then FooTable will ignore it.

check out the data-attributes demo where this is used

[2013-09-14 12:30] #103 closed, assigned to nobody

[2013-09-14 12:31] #128 closed, assigned to nobody

[2013-09-14 12:32] bradvin commented on #123
this should be sorted now - the above problem was occurring because the .svg font file was not included in my source. It is there now

[2013-09-14 12:32] #123 closed, assigned to nobody

[2013-09-14 12:36] bradvin commented on #134
thanks - this is a great candidate for an addon for FooTable - if you could contribute this code back to the project that would be great :)

[2013-09-14 12:58] bradvin commented on #133
@JamaicanRumCream  thanks for posting the code - I want to set this up locally and do some testing. From a quick glance at the code, I am not sure FooTable (in it's current state) will handle your complex colspan scenario.

But I want to try and get it working...

[2013-09-14 13:02] bradvin commented on #115
@xziler8  thanks the spellings have been fixed :) https://github.com/bradvin/FooTable/commit/c11b9c1bea6a06f08dfb423e6f78207a5c56b8f2

[2013-09-16 09:15] drchaks83 commented on #135
Thanks for your reply Brad. I will try to make that, basically if I apply footable class to the gridview none of the click event of that grid is working.

Thanks in Advance,
Chakra

[2013-09-16 20:09] lalocespedes opened #136 "pagination bootstrap 3"
pagination class not working with bootstrap 3, its shows twice paginate. help please

[2013-09-18 08:48] valos commented on #50
FooTable works perfectly well with jQuery Mobile.
You need just to reorder the header declarations and bind your code to the pageshow event.

[code]

[2013-09-18 09:00] bradvin commented on #50
@valos thanks for posting this solution

[2013-09-18 09:00] #50 closed, assigned to nobody

[2013-09-18 14:24] ThomasBowen opened #137 "Incompatible with Post Backs"
It seems that whenever I display a Bootstrap modal on the same page as a Footable table, the Footbale table breaks, and no longer works until I refresh the page.

It doesn't seem to be throwing errors though.

UPDATE: In fact I think the problem in general is that Post-backs seem to break it, not just modals.

[2013-09-18 18:28] TolMera commented on #109
I would also find this really useful, can't seem to implement it myself (not very good at Javascript).

[2013-09-18 21:45] bradvin commented on #137
@FallenBlade post-backs as in asp.net post backs?

[2013-09-19 08:23] ThomasBowen commented on #137
@bradvin yes, ASP .Net post backs.

[2013-09-19 18:18] bluebrat opened #138 "Multiple Filters"
Hi,

Is it possible to filter on several keys instead of one? I've tried a few ways but none work. I possibly missed something or does it support this?

Thanks!

[2013-09-19 20:02] ingenuitor commented on #134
Not sure of the logic for this one yet, hence the question and sample URL, perhaps my presentation was bad, sorry for the confusion.

[2013-09-20 05:30] bradvin commented on #138
@bluebrat one way that I have got this working is by having a hidden input on the page that is hooked up to the footable filtering, and then have other inputs or dropdowns append their filter into the hidden input.

Or use the filtering API and build up the filter string from multiple controls and pass it in

[2013-09-20 09:58] ThomasBowen commented on #137
@bradvin Have you experienced this before? Has anyone got a solution to allow FooTable to work with asp.net post backs?

[2013-09-20 10:05] bradvin commented on #137
@FallenBlade I have not had this before. I am not sure how an ASP.NET postback will affect the footable js. On postback, the footable init code will be called again surely?

[2013-09-20 12:02] bluebrat commented on #138
@bradvin that's what I've tried. I manage the filters in an array so I can build them myself in any needed format.

I tried passing footable a string: "xxx yyy zzz", comma delineated: "xxx,yyy,zzz" or just calling footable filter individually several times. Even tried passing it a simple array of terms, but that threw an error.

My current workaround is using a simple jquery hide/show toggle using

[2013-09-20 13:21] ThomasBowen commented on #137
@bradvin it seems like the table has the "footable-loaded" class added to it after the post back. But could it be a left over from before? Is there a way of reinitialising Footbale, even if "footable-loaded" is already on the table?

[2013-09-20 13:21] steveush commented on #138
@bluebrat check out the [filtering demo](https://github.com/bradvin/FooTable/blob/V2/demos/filtering.htm) and look at the script at the bottom of the page. There we hook into the 'footable_filtering' event and simply append additional filters to the original one. Tokens should be delimited using a space, we used this approach in the demo to keep our text input clear while still applying the status

[2013-09-21 06:28] bradvin commented on #137
@FallenBlade yes, you can "reset" the footable first. Check out the reset demo https://github.com/bradvin/FooTable/blob/V2/demos/reset.htm that has an example of this.

Are you using an ajax update panel on your page at all? It is very strange that the table has that class still after a post pack. Perhaps you have runat="server" on your table? If so, make sure enableviewstate is false for the tabl

[2013-09-23 06:15] bradvin commented on #109
@alexisletrotteur @TolMera I have added 2 new triggers that allow you to expand/collapse all rows.

check out the new demo : https://github.com/bradvin/FooTable/blob/V2/demos/expand-collapse-all.htm

You can simply call

[code]

[2013-09-23 06:15] #109 closed, assigned to nobody

[2013-09-23 09:17] flex86 commented on #136
[code]

Works for me

[2013-09-23 09:52] bradvin commented on #136
@lalocespedes are you using the WP plugin?

@flex86 thanks for confirming it works - I want to update all the demo/docs to V3 soonish

[2013-09-24 13:09] bluebrat commented on #138
@steveush @bradvin

Thanks a lot for your help so far. I still have an issue however.

I am calling the function $('table').trigger('footable_filter', {filter: newFilter}); and newFilter is my string made up of terms. This works to a point.

It doesn't seem to be working when you try to add more than one value to the filter for a single column.

Example: Say I have a table that has two columns, "G

[2013-09-24 13:48] xziler8 opened #139 "Pagination hiding"
When including the class "hide-if-no-paging" on the &lt;tfoot&gt; and having one page of data, the &lt;tfoot&gt; is NOT hiding as desired.

[2013-09-24 19:38] bgil commented on #16
Awesome tables!
I'm using  Version : 2.0.1.1 and had similar problems.  I had this app that would generate tables after each DB query. At first I tried adding the footable class and calling initialize on the whole, new, table. But the responsiveness was not applied.  So, I created static table with thead sections in the HTML. These do not vary. And I apply footable() to them during load.  Then aft

[2013-09-24 20:09] bradvin commented on #139
@xziler8 i just tested this in the showcase demo by setting the page size to 15 and the tfoot was hidden. Perhaps it's your setup. Do you have a url I can check, or even better, can you reproduce the issue in a jsfiddle or codepen?

[2013-09-25 01:08] xziler8 commented on #139
added the pagination.js file and this code

[code]

hide-if-no-paging"></div>
                </td>
              </tr>
            </tfoot>

looked at the .js file -- saw no reference to handling the
class="hide-if-no-paging"
saw the code where info.pages.length === 1 ... adding class="no-paging"

[code]

not sure how the 2 classes relate... is it possible my versions are
mismatched?

A

On Tue,

[2013-09-25 05:22] bradvin commented on #139
@xziler8 - this CSS does the hiding:

.footable.no-paging .hide-if-no-paging {
  display: none;
}

try putting the class on the tfoot itself : <tfoot class="hide-if-no-paging"> I think the pagination class is overriding my CSS rule above.

[2013-09-25 09:03] ThomasBowen commented on #137
@bradvin the table is runat="server", I've just added "enableviewstate = false".

I've tried to add a reset method, however I'm getting a JavaScript error of "Cannot call method 'reset' of undefined".

[2013-09-25 14:01] xziler8 commented on #139
cannot find your CSS (above)-- where is it at?

Alan

On Wed, Sep 25, 2013 at 1:22 AM, bradvin notifications@github.com wrote:

##

Thanks,

Alan

[2013-09-25 14:02] xziler8 commented on #139
Sould there be a footable.paging.css file?

Alan

On Wed, Sep 25, 2013 at 10:01 AM, Alan Gochin alan@gochin.com wrote:

##

Thanks,

Alan

[2013-09-25 17:40] bradvin commented on #139
https://github.com/bradvin/FooTable/blob/V2/css/footable.core.css#L152

which is generated from the less:

https://github.com/bradvin/FooTable/blob/V2/less/footable.core.less#L225

I originally had separate files per add-on, but they were so small it just didn't make sense. And then support for themes meant even more files, so I chose to keep it simple

[2013-09-27 11:47] iamYANNNN opened #140 "A Table within another Table in data-hide ="all""
Hi, I would like to ask if is it possible to have a footable within the hiding portion of another footable currently? I've tried but was unable to sort the columns and the responsive element was not working.

[2013-09-27 11:58] malayhm opened #141 "Colspan is not handled properly"
<table class="footable toggle-arrow phon">
        <thead>
          <tr role="row">
            <th>Id</th>
            <th>Type</th>
            <th data-hide="phone">Instances</th>
          </tr>
        </thead>
        <tbody>
<tr><td colspan="3">No Data Available. </td></tr></tbody>
      </table>

In mobile view thead has only two columns but body expands to three.

There is no way to hand

[2013-09-27 14:57] bradvin commented on #140
Do you have a online demo on jsfiddle or codepen?

[2013-09-27 14:59] bradvin commented on #141
Could you put up a demo on jsfiddle or codepen so that I can see the issue you are talking about?

[2013-09-27 19:01] iamYANNNN commented on #140
Am currently having problems reproducing the issue in jsfiddle. However, i am able to reproduce it externally by doing an edit of the demo - multiple-showcases. It is done by adding another column, placing data-hide="all" and copying one of the tables into the respective td which is hidden. The main table was able to sort but the table within it wasnt responsive and also unable to sort.

Just down

[2013-09-30 10:24] zacheryrodgers commented on #45
I am having trouble finding more info on using FooTable for very large datasets. I am wanting to load ~300K items, but I know that loading them all at once would kill any browser. What I would like to do is feed FooTable the number of rows I will need so it can prep the pagination and then make the sort/search option run an ajax query so I can return the rows it will need. Is there any solution al

[2013-10-01 14:38] victorbueno opened #142 "Problem with filtering and expanding a row"
When you filter the results and expand a row, a new row with non-filtered data is added below the expanded one.

[2013-10-02 05:19] bradvin commented on #142
@victorbueno thanks for pointing this out - I managed to reproduce the issue. I will work on a fix

[2013-10-03 11:11] markc opened #143 "Bootstrap 3 compat"
Is anyone working on BS3 compatibility?

[2013-10-03 18:32] ingenuitor commented on #134
I guess I have to revert back to DataTables, can't function without this feature. Will keep my eyes on FooTable for the future. Seems cleaner than DT, but missing vital functions. Thanks again.

[2013-10-03 19:22] bradvin commented on #143
@markc not at the moment - just no time - but you are more than welcome to submit a pull request :)

[2013-10-04 02:45] markc commented on #143
Okay I can try but I'm not really familiar enough with FooTable to best know how to integrate these changes. For instance the DIV wrapper for the pager has a class called "pagination" whereas BS3 uses that classname on the UL itself so both the example demo page(s) and footable.pagination.js needs changing, so that means the current demos will fall over. I guess I could work in a "bootstrap3" bran

[2013-10-04 02:50] Hilmon opened #144 "Question: How to Disable Toggle & Always Show"
Not really an issue but I'd like to always show the hidden columns in the "footable-row-detail" by default and turn off the toggle function altogether. Is this possible with limited js experience?? ...

[2013-10-04 03:46] bradvin commented on #143
I have wanted to make a BS3 theme for a while now. If you create a BS3 branch please let me know and I can work on it with you

[2013-10-04 14:51] bwyss opened #145 "data-page-size not respected"
On page load my table is empty, then on a click event I am dynamically adding data to a table. When the table is loaded with records the data-page-size is not respected until I click on the header, then the table is reduced to 5 records.
I am using $('#myTable').append(html); to load the data into the table.

[2013-10-05 05:11] markc commented on #143
Finally got a first cut at a Bootstrap 3 version of showcase.htm. It's obviously a WIP so may or may not work at any point in time...

https://github.com/markc/FooTable/tree/bs3/bs3
http://goldcoast.org/footable/bs3/

[2013-10-05 05:50] bradvin commented on #143
@markc that is looking great! Nice work
I have merged your changes to a bs3 branch so I can also work on it - I love your demo

[2013-10-06 04:13] markc commented on #143
Another update where I split up 3 demos and docs. The demo examples in bs3/lib/htm/ can nearly be dropped into another project as long as the right JS/CSS is wrapped around them and the doc examples in bs3/lib/md/ are in Markdown format and work on Github as well, but links in the docs themselves only work from within the README.md so bouncing back to README.md is required to continue reading othe

[2013-10-07 15:04] OliverRC opened #148 "Multiple Column Initial Sorting"
I want to be able to sort multiple columns via the data-sort-initial="true" attribute.

I have tried it and it only sorts on the first column with this attribute.

[2013-10-07 20:47] bradvin commented on #145
@bwyss you need to force footable to redraw:

$('#myTable').append(html).trigger('footable_redraw');

[2013-10-08 05:07] markc commented on #143
Thanks for the last merge. The examples and docs split up is just a suggestion and makes it easier for me to focus on each step. I've added the start of an editable plugin (from Horton) and a server side PHP script (from datatables.net) but I've come to a full stop in how to "port" the horton based editable plugin and there is a lot of work to add full server side sorting and filtering. The inline

[2013-10-08 14:02] roguemonkey commented on #37
I'd like to also "vote" on this issue, if possible. Rowspan in the headers would make some layouts a lot nicer to look at, but unfortunately, it doesn't work.

[2013-10-10 18:35] bradvin commented on #142
@victorbueno this should be sorted in the latest commit https://github.com/bradvin/FooTable/commit/0d803160d692cd9f043ba0e38b522c9723502b04

[2013-10-10 18:35] #142 closed, assigned to nobody

[2013-10-10 18:37] #139 closed, assigned to nobody

[2013-10-10 18:37] #145 closed, assigned to nobody

[2013-10-10 18:41] bradvin commented on #144
perhaps footable is not what you need then. I would just output the HTML in the layout that you need it. If nothing is needed to be toggled, then why load footable in the first place

[2013-10-10 18:41] #144 closed, assigned to nobody

[2013-10-10 19:18] DustyCarr opened #150 "Multiple Tables"
When I add more than one FooTable to a page, the last table remains sortable but the other tables won't sort. Any idea what could be causing this?

Thanks,
Dusty Carr

[2013-10-10 19:21] bradvin commented on #150
@DustyCarr not sure what the cause could be - check out the multiple-showcases.htm demo - that has 2 tables with sorting on it. If you can reproduce the issue on jsfiddle or codepen that would be really helpful thanks

[2013-10-12 03:53] 6eDesign commented on #117
@bradvin I am still working to make JSONTable cooler and incorporate as many options and configurations as possible.  I am currently working on the filtering aspect and ran into a question for you: is there a way to use the filter plugin to filter only one specific column while ignoring the rest?

[2013-10-13 19:28] dtheodor opened #151 "Footable + data-binding frameworks (angular)"
Hi,

I am trying to make Footable work with AngularJS. When table cell values are bound to a model (the `$scope` in Angular), I am having issues when table cells are moved to detail rows and back.

The particular problem I think lies with how Footable creates a detail row:  the columns are hidden (`display:none`), and the html of the table cell is _copied_ to the newly created detail row (seen at

[2013-10-14 07:32] Hilmon commented on #144
The responsive behaviour and html output is exactly what I'm looking for... I just don't want to hide the secondary content...

[2013-10-14 08:47] bradvin commented on #151
@dtheodor This is definitely something I am interested in. I want FooTable to work with most, if not all, frameworks. Seeing as AngularJS has such a big following, I would like FooTable to work with it out of the box.

I agree with you : # 2 seems a better choice. If you would be willing to branch and work on this, I will help out where I can, although my AngularJS experience is very limited

than

[2013-10-14 19:49] DustyCarr commented on #150
Upgrading to the latest release solved this issue. Thanks!

[2013-10-14 19:49] #150 closed, assigned to nobody

[2013-10-14 20:16] bradvin commented on #45
@tarnic There is nothing built to handle this out of the box at the moment, but was the reason behind me building the event interception demo - to cater for this exact scenario

[2013-10-14 20:23] bradvin commented on #144
@Hilmon so you want to remove the toggle button and force the detail rows to display on smaller devices?

[2013-10-14 20:33] DustyCarr opened #152 "Pagination question"
Is there currently a way to limit the number of pagination links? If not, is this something you would consider building in to the next release? BTW, I love FooTable!

Thanks

[2013-10-14 20:34] Hilmon commented on #144
Yes, exactly!... I've had a good look thru footable.js ... but as I said, my js skills are just not there yet. Thanks for taking the time to respond by the way ... it's very much appreciated.

[2013-10-14 23:58] xziler8 commented on #152
Or simply show only the 2 page links before and after with a .... until the
last or first page.

A

On Mon, Oct 14, 2013 at 4:34 PM, DustyCarr notifications@github.com wrote:

##

Thanks,

Alan

[2013-10-15 04:52] bradvin commented on #152
@DustyCarr this has been asked for quite a bit. I think I will add an option to the pagination add-on to limit the number of pages shown

[2013-10-15 09:09] bfj05021 opened #153 "Sorting strings case-sensitive"
The sorting feature of FooTable is case-sensitive. Example:

Strings = {michael, Steve, Richard, john, thomas} would be sorted in the following way:

{ Richard, Steve, john, michael, thomas} where it should be
{ john, michael, Richard, Steve, thomas}.

[2013-10-15 12:28] Allmedialab opened #154 "+ and - sign not visible in latest version"
Hi,

Thanks! I love your plugin!

I downloaded the latest version and instead of the + and  - signs I see Chinese signs.

This is in the demo's.  But unfortunately also in my design.

How do I get the + and - back for the mobile view for opening and closing the hidden  tables!?

David

[2013-10-15 13:46] carlinchisart opened #155 "Performanse in more data"
Hi all,

I use footable is a gread solution!!, my question is i have one table with mora that  1500 item so 1500 rows, i construct the table with php, but with footable, i have problem in load the table and the browser is brokend. so i have one problem with performance of the publing, this is the url

http://developer.hombresolo.com/inventario/administracionproductos/administrar_productos

is posi

[2013-10-16 13:50] yarhouse commented on #101
I'm curious to know if anyone has devised a solution to this request on their own. I've attempted to create 2 select elements to filter only from specified columns, but I'm having no good luck with it. I'd be interested in anyones unofficial column filtering while we await the awesome (possible) future enhancement

[2013-10-17 06:19] chibani commented on #101
I did it.
I've been able to override the filterFunction (providing it as a parameter to footable).
This way I could enhance the fonctionnalities.
For example, I've add a "data-filter-columns" that is a jQuery selector so I could add some classes to my tds and target them when filtering.

There's still one problem with code (or maybe it's footable... not sure) : I can't filter using 2 columns at th

[2013-10-18 22:55] bgil commented on #104
Found a solution!

Define your column header with a spacer:
&lt;th data-hide="phone" >Header Text
&lt;span class="fooTableSpacer">________________________&lt;/span>
&lt;/th>

Then define the fooTableSpacer css to make the text disappear

.fooTableSpacer {
    color:rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    text-shadow: none;
}

[2013-10-20 02:48] bgil commented on #104
Found a problem with my solution above.... all of those underscores appear in the details when the column is hidden.
So, we need to adjust the footable.js file.  In the method

ft.createOrUpdateDetailRow = function(actualRow) {

just before
                values.push({
                    'name' : name,
                    'value' : ft.parse(this, column),
                    'display' : $.trim($

[2013-10-20 17:31] bradvin commented on #154
hey David,

What browser are you using?

[2013-10-22 12:04] Allmedialab commented on #154
Hi Bradvin,

I'm using all browsers for testing.

Can you please point me out where the links are for plus.png or minus.png!?

Even the search function in my IDE can't find them.

Then I can fix the problem my self.

Thanks! David

[2013-10-22 14:59] bradvin commented on #154
@Allmedialab there are no images for the plus and minus - they are in a font now as of V2

[2013-10-23 09:00] toxicity-1985 commented on #148
Hi, this plugin doesn't allow to sort on multiple columns.
It would be interesting if someone can add sorting on multiple columns !

[2013-10-23 13:05] Allmedialab commented on #154
Yes I discovered that, I was confused because both PNG's are in the demo in the img folder.

Found it!

I downloaded the ZIP again and now it works perfect!

Thanks! David

[2013-10-25 14:56] hugsbrugs opened #156 "footable and xeditable"
Hello,

thanks for this awsome plugin !
I've had a problem I resolved almost easily (http://stackoverflow.com/questions/19591928/footable-in-bootstrap-3-not-initializing), I'm now going further in footable use cause I want to do inline editing with the excellent x-editable plugin.

It works perfectly for data not hidden but not for hidden data revealed on + click.

It seems click on those data is

[2013-10-25 22:24] hamerw commented on #143
The only problem I came across was the pagination links when using the add-on pagination plugin. It was an easy fix..
instead of, as per the documentation: `<div class="pagination pagination-centered"></div>`
switch to: `<ul class="pagination pagination-centered"></ul>`

The paginate.js actually looks for a `<ul>`  first so it was and easy test and worked.

[2013-10-31 20:40] schrizzity commented on #138
It looks like what you are wanting is an "OR" filter and what you are currently getting is an "AND" filter.

When you provide the filter with two values (Boys, Girls), you're filtering the table for records WHERE Gender = Boys AND Girls.

In another table plug-in (datatables), the "OR" filter was achieved by providing a filter string which was structured like so, "Boys|Girls". It doesn't look like

[2013-11-02 19:04] schrizzity opened #158 "Filter will filter across columns"
For instance, if I have two columns (Name, Number) with a record (foo, 123) and my filter string is "foo123", that record will return in the results.

This only occurs for adjacent columns.

[2013-11-05 20:18] celiovasconcelos opened #159 "Pagination div outside the table"
According the doc i can have the pagination div outside the table http://fooplugins.com/footable/demos/paging.htm#docs
The doc says the pagination is binded through the data-page-navigation attribute.
I couldn't set it up.
Is this a bug?

[2013-11-07 12:37] bfj05021 commented on #81
Has this already been implemented?
I am trying to change the page size by changing the attribute data-page-size in the .footable  element and then trigger the footable_redraw but it doesn't seem to do anything.

[2013-11-07 18:29] xziler8 commented on #152
Once page limit is implemented will it behave like so...

<<   |   <   |   7   |   8   |   9   |   10   |   11   |   >   |   >>

??

[2013-11-07 18:42] ricardozea opened #160 "Cells in rows that contain 'colspan' don't hide in mobile"
Hey Brad,

I'm having the following issue:

If there's a row with a `colspan`, the last cell doesn't hide.

For example:

[code]

Check out **[this fiddle](http://jsfiddle.net/rzea/JN4k6/)**.

**
Not sure if my issue is in some way related to this one or not: https://github.com/bradvin/FooTable/issues/141 _"Colspan is not handled properly"_

[2013-11-07 18:44] ricardozea commented on #141
I'm having a similar issue but I created a new issue since I'm not 100% sure they are exactly the same.

Check this issue: https://github.com/bradvin/FooTable/issues/160

[2013-11-07 19:28] xziler8 opened #161 "Filtering: Any way to hide duplicates within a given column?"

[2013-11-07 21:33] mspanish commented on #104
Set the width of your content TD, then the header will adjust to fit that. For example:

  <td class="bigTitle">{resolved_title}</td>

[2013-11-07 21:36] mspanish commented on #161
You could use something like lodash or underscore to find the dups, then use a jQuery hide() function to hide those rows. If you need a code example post back, would just take me a few mins to make an example.

[2013-11-07 22:06] xziler8 commented on #161
Thanks Stacey -- please elaborate in a JS fiddle...

:)

On Thu, Nov 7, 2013 at 4:36 PM, Stacey Reiman notifications@github.comwrote:

##

Thanks,

Alan

[2013-11-07 22:10] mspanish commented on #161
ah I was just going to search for my repo where I do something similar, may not have time for a riddle right now :)  I'll try to post back later today...

[2013-11-12 11:07] Relequestual opened #162 "Bootstrap table stripe negated"
When using bootstrap, a table with the class of table-stripe creates a striped table.

When expending a row, a new row is created. When the row is collapsed, the row is still present but hidden.

This causes the striping of rows to be off.

Obviously it isn't mission critical, but still a bug.

Maybe a possible solution would be to store the hidden row in a temporary table if the table-stripped cl

[2013-11-13 09:45] ghost opened #163 "cssInfoBlock"
What about "cssInfoBlock" alternative?

[2013-11-13 10:33] bradvin commented on #163
for reference : http://mottie.github.io/tablesorter/docs/example-multiple-tbodies.html

[2013-11-13 11:06] notflip opened #164 "Showing only on Phone"
Hi, is it possible to SHOW a certain row only on phone?

Thank you!

[2013-11-13 12:33] notflip commented on #164
Solved it by adding an breakpoint set on infinite,

[code]

[2013-11-15 04:21] khloukrada opened #165 "FooTable Customized Breakpoints Not Working"
In the document, it says "To change the breakpoints simply pass in a breakpoints option when initializing FooTable:".

$('.footable').footable({
    breakpoints: {
        tiny: 100,
        medium: 555,
        big: 2048
    }
});

But it's not working when I apply the customized breakpoints on the data-hide attribute.

[2013-11-19 15:50] xziler8 opened #166 "Is there a programatic way to detach and reattach pagination for table printing?"

[2013-11-22 21:36] zurie commented on #151
Now that angular 1.2.x is out, this is the perfect time to do this.  I would like to see this request started.

[2013-11-24 11:31] hugsbrugs opened #168 "Retrieve row id from footable_row_expanded event"
Hi,

I've added

[code]

I need to retrieve row id inside footable_row_expanded event but as I see it's the hole footable witch is the clicked element and not a particular row.

Could you give me a way of doing this since I'm instanciating elements inside hidden rows based on row's id

thanks

Hugo

[2013-11-25 09:03] felleuch commented on #152
waiting  this enhancement .... :-)

[2013-11-26 16:35] JeganGitHub commented on #153
We have found the same issue and fixed it as

sorters: {
            alpha: function (a, b) {
                var aLower = a.toLowerCase();
                var bLower = b.toLowerCase();
                if (aLower === bLower) return 0;
                if (aLower < bLower) return -1;
                return 1;
            },
            numeric: function (a, b) {
                return a - b;

[2013-11-30 20:13] scicco commented on #136
hi all, i think the example documentation page is not updated:
http://fooplugins.com/footable/demos/paging.htm#docs

i mean:

[code]

while only

[code]

works for me (ul tag with the needed class inside div)

[2013-12-02 05:53] syedaliaziz opened #170 "pagination (group/minimize page numbers) - page limit required"
First of all thanks for the awesome FooTable. :)

I am using pagination, but the is an issue (no page limit):

![pagging too much page numbers](https://f.cloud.github.com/assets/5800988/1652466/97047efa-5b14-11e3-9218-6bd8d7ad27a4.png)
- I have too much data for a record and after pagination the view is like this (attached above), what i want here is to show these page like

<<   <   1   2   3   4

[2013-12-02 06:04] syedaliaziz commented on #152
+10 for page limit

please implement this - it's pretty much standard is pagging controls.

Thanks.

[2013-12-02 11:59] syedaliaziz commented on #170
![sample pagination limit](https://f.cloud.github.com/assets/5800988/1654310/0e185776-5b49-11e3-8baa-123b451092b0.jpg)

just like the above sample.

Kindly look into this - it's a really important feature. :)

[2013-12-02 14:55] starboy-zz opened #171 "Form Drop Select paging not working - Demo"
When FooTable is downloaded there is a page in its directory called paging.htm (see: FooTable-2/demos/paging.htm). That page has a form drop select to allow users to select/adjust the paging size of the table but the problem is that it does not work.

How to get the form drop select paging to work?

[2013-12-02 15:23] xziler8 commented on #170
better yet --- show First and Last icon, prev and next icons within, then
show 5 pages with  "..." before or after the 5 pages as necessary. So when
on page 5 show,

<<       <       ... 3        4       5       6       7 ...        >

Thanks

A

On Mon, Dec 2, 2013 at 6:59 AM, Syed Ali Aziz notifications@github.comwrote:

##

Thanks,

Alan

[2013-12-03 03:23] syedaliaziz commented on #170
:+1:

@bradvin please consider this request - request/issue of such is already opened..

[2013-12-04 11:50] syedaliaziz commented on #170
@bradvin  please respond?  Its important!!

[2013-12-04 11:52] syedaliaziz commented on #170
@xziler8  have you found any means to do it?

[2013-12-04 11:52] syedaliaziz commented on #170
@steveush  @bradvin  please respond?  Its important!!

[2013-12-04 12:39] bradvin commented on #170
@syedaliaziz if you need it so badly then submit a pull request and I will include it. Both steve and I have been very busy on other projects and have not had time to make changes to FooTable in a while. This is a free library. You do not pay for it, so you cannot demand that we make changes when it suits you

[2013-12-06 19:22] drmcclelland commented on #101
I really love the extensibility of FooTable!  I followed an approach similar to @chibani in order to enable two new data- attributes (`data-filter-text-only` and `data-filter-ignore`) at the TH level:

[code]

[2013-12-09 04:15] jordanmichaelrushing opened #172 "Reload Pagination Amounts"
So first off I tried the different options shown in this thread to no avail: https://github.com/bradvin/FooTable/issues/16

My issue is that I have a drop down box with values [20,50,75,100] and an ID of 'per_page_drop'. When I load the page I call:
`function tableData() {
    var e = document.getElementById("per_page_drop");
    var value = e.options[e.selectedIndex].value;
    alert(parseInt(val

[2013-12-09 04:47] jordanmichaelrushing commented on #172
Also, I just checked the Chrome source and I can see the data-page-size attribute change when I select a new value in the drop down box.
So from: data-page-size="20" to data-page-size="50" etc etc

[2013-12-09 13:21] drmcclelland opened #173 "Feature request: Saving state"
I've enjoyed using FooTable, and one enhancement that would help my users is to keep the state saved between page views within the same session.  Here's my workaround at the moment which saves the sort column/direction and the filter into the DOM's sessionStorage - if there's a better way, please let me know!

[code]

[2013-12-09 13:57] drmcclelland opened #174 "Feature request: fixed column headers"
A nice feature for FooTable would be to have built-in support for fixed column headers so as the user scrolls down a long page they don't lose track of what columns they are looking at.  In order to have "fixed" or "sticky" column headers, I am using StickyTableHeaders (https://github.com/jmosbech/StickyTableHeaders) after FooTable has initialized.  It works great, the only thing you have to keep

[2013-12-12 15:54] imjoeybrennan commented on #174
+1

[2013-12-12 16:35] imjoeybrennan opened #175 "Arrange footable-row-detail on TOP of row-details-show"
Does anyone know how to rearrange/flip the rows so the footable-row-details are on top and the row-details-show is on bottom as seen in this screenshot below.
![screen shot 2013-12-12 at 10 25 59 am](https://f.cloud.github.com/assets/1739106/1734701/3df9f68a-634a-11e3-90c9-9527ff17f8b8.png)

It would be awesome if this option was added. My idea is to create a mobile table layout similar to Yahoo's

[2013-12-12 16:38] imjoeybrennan opened #176 "Disable Toggle functionality so both rows are always visible."
Is there a way to disable the toggle-visibility button and have both of the rows of details visible? I feel like this would be a great option for this plugin because if vertical space wasn't an issue, then it would be easier if users didn't have to hit a button to see all the details.

Let me know if you can help!

[2013-12-13 08:22] steveush commented on #176
Hi,

At present there is no option to disable the toggling of rows, I'll flag this as an enhancement however due to limited time to spend on this project I'm not sure when we can get around to implementing it.

Thanks
Steve

[2013-12-13 08:25] steveush commented on #175
Hi,

At present there is no option to flip the detail rows, there is a lot of logic that relies on it being below the normal row. I'll flag this as an enhancement however due to limited time to spend on this project I'm not sure when we can get around to implementing it.

Thanks
Steve

[2013-12-13 08:26] steveush commented on #174
Hi,

I'll flag this as an enhancement however due to limited time to spend on this project I'm not sure when we can get around to implementing it.

Thanks
Steve

[2013-12-13 08:34] steveush commented on #173
Hi,

I quite like your approach at the moment. The only thing to worry about is sessionStorage compatibility with browsers  but even that looks pretty good with only Opera Mini seeming to have an issue with it ([MobileHTML5](http://mobilehtml5.org/)).

I'll flag this as an enhancement and look at making it into a small plugin using your example code.

Thanks
Steve

[2013-12-13 09:13] steveush commented on #172
This has been fixed in the Paginate Reinit Fix commit.

Thanks
Steve

[2013-12-13 09:13] #172 closed, assigned to steveush

[2013-12-13 11:38] steveush commented on #170
I've checked in some changes to the pagination plugin which allows these features. Check the demo paging.htm to see it. Basically a new option called limitNavigation which you can set to the number of pages you want displayed in the pagination navigation control.

Thanks
Steve

[2013-12-13 11:38] #170 closed, assigned to steveush

[2013-12-13 11:48] steveush commented on #159
Hi,

I've checked in a fix for this issue. It was performing a check that needed a tweak that was causing it to exit early and not create the pagination control if it was outside of a table.

Thanks
Steve

[2013-12-13 11:48] #159 closed, assigned to nobody

[2013-12-13 11:53] steveush commented on #171
Hi,

I have checked in a fix for this issue. There was a small bug in the paging addon where it cached it's options and never reset them when reiniting.

Thanks
Steve

[2013-12-13 11:53] #171 closed, assigned to nobody

[2013-12-13 11:54] steveush commented on #152
Hi,

I have checked in a limiter for the paging controls. Check out the paging.htm demo to see it working.

Thanks
Steve

[2013-12-13 11:54] #152 closed, assigned to steveush

[2013-12-13 12:01] steveush commented on #153
Hi,

I've added @JeganGitHub's suggestion as the default alpha sorter now, thanks Jegan :) This should no longer be an issue that requires a custom sorter.

Thanks
Steve

[2013-12-13 12:01] #153 closed, assigned to nobody

[2013-12-13 12:08] steveush commented on #168
Hi,

You can use the e.ft.row property of the footable_row_expanded event object to get whatever you may need.

[code]

[2013-12-13 12:08] #168 closed, assigned to nobody

[2013-12-13 12:15] steveush commented on #166
Hi,

Sorry there is not. Your best bet is to include a little CSS rule to hide the pagination when printing as per this [SO link](http://stackoverflow.com/questions/12218189/hide-html-div-when-printing-page).

So something like this should work assuming the default pagination class is being used.

[code]

Thanks
Steve

[2013-12-13 12:15] #166 closed, assigned to nobody

[2013-12-13 12:50] steveush commented on #164
Hi,

There is a default breakpoint called desktop which is added to the breakpoints. You could use this in the data-hide attribute the same way you use tablet or phone. So data-hide="desktop,tablet" should show the column only on a phone.

Thanks
Steve

[2013-12-13 12:50] #164 closed, assigned to nobody

[2013-12-13 12:52] #136 closed, assigned to nobody

[2013-12-13 12:54] steveush commented on #161
Hi,

This is currently not possible with the out of the box solution, this will require a custom one implemented on your side to depending on your situation.

Thanks
Steve

[2013-12-13 12:54] #161 closed, assigned to nobody

[2013-12-13 12:57] steveush commented on #104
Hi,

This is more to do with table styling and CSS rather than FooTable so I'm closing this as  an issue.

Thanks
Steve

[2013-12-13 12:57] #104 closed, assigned to nobody

[2013-12-13 13:05] steveush commented on #81
I have checked in a fix allowing you to change the data-page-size attribute and call redraw to get it to properly use the new options.

[2013-12-13 13:05] #81 closed, assigned to nobody

[2013-12-13 13:06] #154 closed, assigned to nobody

[2013-12-13 13:08] steveush commented on #137
Solution found by @FallenBlade, closing issue.

[2013-12-13 13:08] #137 closed, assigned to nobody

[2013-12-13 13:59] ThomasBowen commented on #137
@steveush a solution was never found, in the end we removed FooTable from our project.

[2013-12-14 07:25] hugsbrugs commented on #168
Many Thanks !

EDIT :
it doesn't work, I get an undefined id and when doing :

[code]

I get {} as answer for the object $(e.ft.row)

Still no luck !

EDIT 2 :
I found my tr id this way :

[code]

[2013-12-14 08:36] hugsbrugs opened #177 "Duplicate element id when expanding row"
Hi,

I'm using footable to be able to modify a bunch a data using x-editable plugin.

One of my columns looks like :

[code]

As I get lots of datas, I would be able to instantiate x-editable elements based on their id (so only the current expanded row would have its elements updatable).
The problem is that footable makes a copy of my element so I have 2 elements with same id in DOM which is not c

[2013-12-14 14:43] bradvin commented on #177
A lot of people have this same issue. The fact that we clone the contents of the cell cause a lot of issues when you do anything slightly complex.

These are my thoughts on this enhancement so far:
1. Determine if a cell contains any elements. If it is plain text, then simply clone as before and do nothing else.
2. create a placeholder div with a unique id
3. Wrap the cell elements in a container

[2013-12-19 17:04] ultraflash opened #178 "Pagination page size change only triggering on sort."
I used the recent fixes and commits for the addition of a combo box to change pagination size however, the size change only seems to happen when I click on a column header to sort the table.

Is it possible to have the new page size change as soon as the option is selected in the combo box or to add a button to do it?

Is this correct or have I screwed something up and it isn't changing properly?

[2013-12-20 12:49] notflip commented on #16
I found a solution using the following as a success callback on my ajax call.

[code]

[2013-12-26 18:02] imanviii opened #179 "ajax updated data insert at top of table not the end"
Hi all
Recently i saw ajax demo at (http://fooplugins.com/footable-demos/) and have a question to ask.
Is there any way to insert new data at the top of table instead of the end?
in this way the users could see new data without going to the last page of table.

[2013-12-26 23:09] xziler8 commented on #179
should be able to use .insertBefore JS.

A

On Thu, Dec 26, 2013 at 1:02 PM, imax36581 notifications@github.com wrote:

##

Thanks,

Alan

[2013-12-27 22:16] timtailor commented on #143
Thanks @hamerw

I'm glad i found this after googling for quite a while why my footable pagination doesn't work :(
Unfortunately the documentation still seems to be not up-to-date (inspite of issue #136)

[2014-01-02 22:07] mackhankins commented on #45
Possibly server side processing would be useful.  Has there been any progress made here?

[2014-01-03 16:08] lusabo opened #180 "Redraw function is cleaning my table."
I have a table like this:

&lt;table id="modality" class="table table-hover footable"&gt;
    &lt;thead&gt;
        &lt;tr&gt;
            &lt;th width="40%"&gt;Modality&lt;/th&gt;
            &lt;th width="30%"&gt;A&lt;/th&gt;
            &lt;th width="30%"&gt;B&lt;/th&gt;
        &lt;/tr&gt;
    &lt;/thead&gt;
    &lt;tbody&gt;&lt;/tbody&gt;
&lt;/table>

And the script is:

$(function(e) {

[cod

[2014-01-03 17:54] lusabo commented on #180
When I change &lt;th&gt; to &lt;td&gt; on thead area it works well.

[2014-01-03 18:31] theoarena commented on #180
That's happening here too. Changing th to td works but it stops the sorting feature!! I dont know what to do

[2014-01-04 14:43] theoarena commented on #180
I reloaded the table using $('.footable').footable() rather than footable.redraw(); and it worked for me!

[2014-01-04 14:49] bradvin commented on #180
please put up and example of this code on jsfiddle or codepen so I can see what is going on

[2014-01-04 15:09] bradvin commented on #162
The problem with table striping in bootstrap is that it is done via CSS.
This CSS solution will fall apart with FooTable, because FooTable appends rows to the table which you expand and collapse. Unfortunately, this can never be fixed, but there is a javascript solution which you can check out:

https://github.com/bradvin/FooTable/blob/V2/js/footable.striping.js

[2014-01-04 15:09] #162 closed, assigned to nobody

[2014-01-04 15:20] theoarena commented on #180
I can't get this working right now, but here it is http://jsfiddle.net/theoarena/vfk8z/1/

[2014-01-04 19:23] bradvin commented on #180
@lusabo @theoarena I managed to reproduce the issue and fixed it in commit : https://github.com/bradvin/FooTable/commit/8f6adfec5c102de89ef162fe1b931cedb00fca72

[2014-01-04 19:23] #180 closed, assigned to nobody

[2014-01-05 23:33] theoarena commented on #180
Thanks man! it's working now

2014/1/4 bradvin notifications@github.com

[2014-01-06 12:19] lusabo commented on #180
Thanks @bradvin! Here it's working too.

[2014-01-07 10:36] timgluz opened #181 "[enhancement] Add missing bower.json."
#### Hey, maintainer(s) of bradvin/FooTable!

We at [VersionEye](https://www.versioneye.com/signup?promo_code=BOWER) are working hard to keep up the quality of the bower's registry.

We just finished our initial analysis of the quality of the Bower.io registry:

**7530** - registered packages, _224_ of them doesnt exists anymore;

We analysed **7306**  existing packages and  **1070** of them don't

[2014-01-11 18:38] SiteSplat opened #182 "add min version for footable core"
Is there a way you could include the min version for the core? Or could you suggest a tool that will not break the plugin?
Thanks!

[2014-01-13 17:04] bradvin commented on #182
@SiteSplat I am not sure I follow you. Are you talking about a min jquery version? Or a min version of the core for the add-ons?

[2014-01-13 17:13] bradvin commented on #45
Again, footable was never meant to be used with thousands of rows, and I do not think it should be used like that. Showing 1000's of rows to the user is just not useful in my honest opinion. Server side processing should be used to handle this.

Having said that, it does not make sense then to use the pagination and sorting add-ons when using server-side processing. That "state" should be handled

[2014-01-13 20:22] SiteSplat commented on #182
Hi I meant the footable.js file. I noticed there is no min version included and I'm afraid about the outcome of using a online tool to minify it myself.
Thanks!

[2014-01-13 21:10] bradvin commented on #182
@SiteSplat oh haha! check out the dist folder for the minified versions https://github.com/bradvin/FooTable/tree/V2/dist

[2014-01-13 21:10] #182 closed, assigned to nobody

[2014-01-15 09:22] goten4 opened #183 "Different background color for odd and even rows"
Hello,

Thanks for this great plugin !
I wonder how to manage different background color for odd and even rows ...
If I specify odd or even class on each &lt;tr&gt;, it will be mixed up after sorting the table.
If I use nth-child(odd/even) CSS pseudo class, it will fail on responsive because of the creation of new row ...
Do you have an idea on how to do that ?

Thanks

[2014-01-15 17:28] bradvin commented on #183
@goten4 check out the striping add on : https://github.com/bradvin/FooTable/blob/V2/js/footable.striping.js

That adds classes to the table rows that you can then style in your CSS

[2014-01-18 12:14] tristabeau opened #184 "Problem with select mouse selection"
Hello, i have a select inside a footable like the exemple.

![sans titre](https://f.cloud.github.com/assets/2760385/1947029/f925ef2a-8039-11e3-89c0-eb52bd3c844a.png)

But i can't select the last object of the list.

Thx

[2014-01-19 13:03] tristabeau commented on #184
I add something. THe issue is only on chrome explorer!

[2014-01-24 12:27] adityamalla opened #185 "+ and - sign not visible in latest version"
Hi,

Instead of the + and - signs for opening and closing the hidden tables, I see Chinese signs.

This is in the demo's. But unfortunately also in my design.

How do I get the + and - back for the mobile view for opening and closing the hidden tables!?

Thanks in advance

[2014-01-24 23:09] goten4 commented on #183
Hi,
It works, thank you very much :)

[2014-01-24 23:09] #183 closed, assigned to nobody

[2014-01-25 06:07] bradvin commented on #185
Hi @adityamalla - what browser are you seeing this behavior?

[2014-01-25 14:51] MartyBJones opened #187 "Iphone & Ipad Mini Performance"
Let me start by saying that this pluggin is awesome!  I am using it in a responsive website and it works great on a normal pc browser.  I am for some reason having very long render times when loading a page with a table on my Iphone with ios7.  The table only has 50 rows in it but it is taking around 26 seconds to load!

If I comment out $('.footable').footable(); and reload the page then it loads

[2014-01-25 21:17] MartyBJones commented on #187
I did some more testing and it ended up being a boostrap theme css file that was causing the issue when the table is updated.   I took off the "table-striped" attribute off of the table and the performance was much better.

[2014-01-25 21:17] #187 closed, assigned to nobody

[2014-01-26 07:38] bradvin commented on #187
@MartyBJones thanks for letting me know what the cause was. Interesting that that could cause such bad performance. I need to reproduce this and see where things are getting degraded.

[2014-01-26 13:57] MartyBJones commented on #187
I can send you a test case if you need it.

Sent from my iPhone

[2014-01-27 10:05] adityamalla commented on #185
Firfox 26.0

[2014-01-27 10:22] kedano commented on #185
Hi, just tested a site that use Footable in Firefox 26, and the whole table is dysfunctional, not just the icons. I'll investigate and report back.

[2014-01-27 10:25] adityamalla commented on #185
Thank you Kedano...

[2014-01-27 11:18] kedano commented on #185
On our project the issue was that I've positioned the icons absolute within the table cell to have full control over the icon position.

Apparently position:relative is not valid CSS on a `<td>`.

[2014-01-28 07:16] bradvin commented on #187
@MartyBJones that would be very helpful thanks

[2014-01-28 09:08] adityamalla commented on #185
Guys,
I got the solution for the above mentioned issue. Actually a default content value is set in the footable.core.css as shown below,

.footable.breakpoint > tbody > tr > td > span.footable-toggle:before {
  content: "\000";
}

And I have changed the  conetnt value and added one more for "-" symbol in the footable.core.css as shown below,

.footable.breakpoint > tbody > tr > td > span.footable-

[2014-01-28 09:08] #185 closed, assigned to nobody

[2014-01-28 13:45] aboomer commented on #45
I am interested in the server-side demo (that you mention) to handle large data-sets.  Can you give me an approx eta for this demo...are we talking days/weeks/months?  Also, what server-side language do you anticipate using?

[2014-01-28 13:49] bradvin commented on #45
@aboomer will prob not have anything out before the end of Feb.
When I do a server side demo, I will probably do 2 - one in PHP and the other in C#

[2014-01-28 19:42] MartyBJones commented on #187
I will whip something up and send it to you.  I have another question, I
would like to combine several column values into the column that receives
the expander icon instead of pushing the values into the sub section.  How
hard do you think this would be?

Basically I want to show a few column values appended with <br/> so that
the user can see a few items in the table that are the most important t

[2014-02-01 16:59] rajaveernapu commented on #117
@bradvin  is there a way to filter the data on specific columns?

@6eDesign Have you written any extention for the specific column text filter?

[2014-02-01 22:58] aathar commented on #101
@chibani  @drmcclelland thanks for the code... I am trying to implement that on my page. But having difficulties. Here is my scenario

I am first Populating footable. Then filtering the list by  Drop downlist

function filterByDepartment() {

[code]

But It filters in the whole table. So for example I have a department Name : "IT"... it would get all the records having "it" anywhere in them like e

[2014-02-01 23:33] ghost commented on #101
I had to do something similar I believe and the easiest way was to set a data-value attrubute on the item you have listed for IT. Then your select list should show IT as the option text but the value it would insert into the filter and search for would be Information Technology (the same as the data attribute).

[2014-02-04 16:43] smockensturm opened #188 "Table Footers"
I have a rather pressing need to include table footers in my FooTables. You know... a footer to hold sub-totals and grand totals and what not. (Bonus: there are several such tables on a page.)

A workaround might include some way to exclude entire rows (not columns) from sorting.

Any plans for supporting table footers? Or a workaround in the interim?

This is a great tool, by the way. Thank you.

[2014-02-04 20:50] rajaveernapu commented on #101
Hi All,

I also facing the same issue, can some one provide the solution for
I am not able to filter on single column

[code]

I have a th with data-filter-ignore for all the columns except my filter column.

Can some one provide us the working example please.

Thanks
Rajasekhar

[2014-02-04 22:48] rajaveernapu commented on #138
Hi @steveush @bradvin

I have two dropdowns lists in my page,

column1,column2,column3,column4

On Selection of dropdown1, filter table based on text of column3 only
On Selection of dropdown2, filter table based on text of column4 only
and i have a textbox on my page, if i search from textbox then filter should work on all four columns?

Is it possible with the footable?

Please help me

Thanks
Ra

[2014-02-07 16:39] johndugan opened #189 "Prevent Row from Toggling Hidden Rows"
Is there a way to prevent the entire `<tr>` from toggling the hidden row and use only the footable-toggle `<span>`?

[2014-02-07 19:12] MartyBJones opened #190 "How To Use Custom Expand/Collapse Icons"
I would like to use bootstrap glyphicons or fontawesome icons for the expand and collapse icons.  How can I go about doing this?

[2014-02-08 08:59] bradvin commented on #190
@MartyBJones you would need to edit the core footable css file and replace all the font-specific code with your font-awesome or similar CSS. The file to look at is : https://github.com/bradvin/FooTable/blob/V2/css/footable.core.css

[2014-02-08 08:59] #190 closed, assigned to nobody

[2014-02-12 15:07] apaleslimghost commented on #165
Bear in mind that the breakpoints are for the width of the _table_, not the viewport like media queries. To use the viewport width, pass the following option:

[code]

[2014-02-12 15:14] khloukrada commented on #165
Many thanks. I got it now.

[2014-02-12 18:26] bradvin commented on #165
@quarterto thanks for posting this solution

[2014-02-12 18:26] #165 closed, assigned to nobody

[2014-02-14 05:49] bradvin commented on #189
@johndugan try using this HTML

[code]

as seen in this demo https://github.com/bradvin/FooTable/blob/V2/demos/data-attributes.htm

[2014-02-14 18:05] MartyBJones opened #193 "Quick Question"
Is there a way you can tell if footable has hidden any columns through an api call?  I want to programatically show or hide a "button" in the table header to allow users who have hidden columns to display a popup for sorting "all" available columns.  If the table fits in the viewport then I don't want to show the user the button.

The problem is I need to know if footable has "hidden" anything or

[2014-02-15 13:27] bradvin commented on #193
@MartyBJones there are a few ways to check for this. You can either bind to an event (preferred) or check for the 'breakpoint' class on the table. To bind to the event, check out the code in this demo: https://github.com/bradvin/FooTable/blob/V2/demos/event-interception.htm

or you can do something like this:

[code]

[2014-02-15 13:27] #193 closed, assigned to nobody

[2014-02-16 03:14] frogleon opened #194 "Not cloned data in rows, just copied, text inputs errors."
I need in some project put text inputs in rows but, in landscape/portrait mode it shows different data values, this is because, the node is copied not cloned, so i made some changes to this in "createDetail" function, maybe in other version you can include this as a feature.

element.append($('< div class="' + classes.detailInnerRow + '" >').append($('< div class="' + classes.detailInnerName + '">

[2014-02-16 07:17] bradvin commented on #194
@frogleon thanks for the code - this is defintely something I want to change in the next version of FooTable.

I think I am going to start a dev branch and work on this

[2014-02-16 19:16] Flankerator opened #196 "Filtering for multiple tables on same page"
Great plugin guys, thanks for the hard work!

I've given it a go and tried to find a similar issue that could have been posted over here, also checked the documentation but to no avail.

I'm having multiple tables nested under tabs in WordPress (using the Footable WP plugin by the way ver 0.3.1), I can't get the filtering function to work on all tables, in fact, it does on the first table only. Th

[2014-02-16 19:50] bradvin commented on #196
@Flankerator pls post the url to your page so I can check it out

[2014-02-16 19:56] Flankerator commented on #196
Thanks for the quick reply Brad!
Unfortunately, the site I'm working on (sa-sim.com) is a work in progress currently (viewable by admins only) and I do not have permission to turn it on until it's 100% finished, but I can provide you with any sort of code if you tell me what you need to see.

[2014-02-17 11:10] Flankerator commented on #196
Debug Information on the plugin settings page below. Maybe this will help?

Javascript:

/\* FooTable init code */

var $FOOTABLE = $FOOTABLE || {};
(function( $FOOTABLE, $, undefined ) {

[code]

}( $FOOTABLE, jQuery ));

jQuery(function($) {
    $FOOTABLE.init();
});

Settings:

Array
(
    [selector] => .footable
    [enable_filtering] => on
    [enable_pagination] => on
    [breakpoint_tablet]

[2014-02-17 17:46] bradvin commented on #196
@Flankerator thanks for posting that info - there seems to be a bug in the jquery code I added to the WP version to auto-add a filter textbox to the footable. That code is unique to the WP plugin so I will need to update it there

[2014-02-17 18:54] CoolLinuxGuy commented on #68
Brad, have you added this ability yet to footable?
We need to be able to set a particular filter based on the <select> options, after the page loads, similar to this:

<script>
window.onload = showSelection;
function showSelection()
    {
    $footable.raise('footable_filter', 'filter text here');
    }
</script>

Any help here would be great.

[2014-02-17 18:55] CoolLinuxGuy commented on #68
oops, in my above post, it stripped my sample javascript code :|

[2014-02-17 21:45] Flankerator commented on #196
Hey Brad,  FYI- I have also tried the Footable jquery plugin  thinking that the issue was affecting the WP version of the plugin only...well I ended up with the same issue again and since people are not reporting it, I started suspecting a conflict with the WP tabs plugin as I'm calling Footable within the tabs.

On another hand, I saw the demo of the multiple Footable working fine, so that MUST b

[2014-02-18 07:49] aphidesign commented on #99
I'm experiencing the same problem. Here's an example page… intent is that all columns show when window width > 768px, and only First Name & Last Name show when window width < 768px. But right now it always loads in 'collapsed' mode, even with the window is > 768px. A slight resize of the browser window in any direction seems to wake it up, so to speak, and show all columns.

[2014-02-18 08:00] aphidesign commented on #99
Looking through comments on other issues, I saw

[code]

adding it seems to have done the trick… all the proper columns are displaying on load. Thanks!

[2014-02-18 08:57] bradvin commented on #99
This sometimes happens when footable is initialized on a table that is hidden (could be in another tab etc) and the width coming back for the table is zero. Then it applies the smallest breakpoint and hides all the columns it can.

Triggering the resize event will force a recalculation

[2014-02-23 05:53] ZainShaikh commented on #155
Any update on this?

[2014-02-24 22:43] bkehren opened #197 "No thead tag"
New to the FooTable project and so far enjoying it.  Wonder what I might need to modify to make this work with a table structure that does not have the < th > tags in a < thead > tag.

[2014-02-24 23:50] justawebbie opened #198 "On select some of the content does not show up"
I am using the example and just replaced and deleted a few things but the select option does not work for me except on one selection.  I am learning this and working on this for a student project.  If I select Occupational endorsements nothing shows up in the filtered table but if I select Post-baccalurate licensures one thing does show up which is correct. Please let me know what I did wrong in t

[2014-02-25 10:58] bradvin commented on #198
@justawebbie the values you are using in your filter select are not matching up to the data-value's in the table column for the degree type. For example, change the value of the licensure option to be "5" rather than "licensure". Or make sure the data-value values in the columns are "licensure"

[2014-02-25 10:58] #198 closed, assigned to nobody

[2014-02-25 13:44] tristabeau opened #199 "initial-sort descending"
hello, thx for your great work !

But i try a data-sort-initial='descending' on a date and it's doesn't work. But on click on the column, all  are ok ! Just the data-sort-initial='descending' doesn't work !

Thx :)

[2014-02-25 14:00] #184 closed, assigned to nobody

[2014-02-25 16:47] justawebbie commented on #198
I tried changing what I thought you were suggesting and it still does not work for me. I am still not getting what I expect but an empty page. Thank you for trying to help out even if I evidently do not understand it seems.

[2014-02-26 11:53] ghost commented on #189
Hi Bradvin,

Thank you for great plugin.

I have test the code. But it is still expanding the hidden column details when we clicked on the table row.

As I understood, Johndugan want to expand hidden columns when clicked on the span with "Plus Sign" as attached image. So if we clicked on anywhere else in the row, the data of the hidden columns will not expand.

![screenshot from 2014-02-26 15 27 5

[2014-02-26 12:11] lusabo opened #200 "sort with Bootstrap v3"
I tried sort a table with BS 3 but instead of ordering, lines are added.

[2014-02-27 14:55] johndugan commented on #189
@ddulitha that is correct - this is my intention just as your picture illustrates.

@bradvin perhaps a new option could be created when calling the plugin to relegate the toggle functionality only to the toggle button?

The ability in my specific design to toggle hidden cells by clicking anywhere on the row is a bit confusing. I have a fairly "loud" toggle button. In the adjacent table cells are l

[2014-02-27 18:42] bradvin commented on #189
@johndugan there is an option called _toggleSelector_ which by default is set to

[code]

You can maybe use that together with

[code]

And add a class to that span which you can then target in the selector?

[2014-02-27 18:44] bradvin commented on #200
online demo of the issue?

[2014-02-27 18:46] bradvin commented on #197
@bkehren there may be too much to change to get that working. One of the features I want to add is the ability to define the columns in options rather than reading them from the thead - that could work for you, but that will be a while still, unless someone does a pull request :)

[2014-02-28 11:11] ThemeMetro commented on #136
But what about "pagination-centered" its still not working

[2014-02-28 11:19] ThemeMetro commented on #136
Sorry got it working code for me

[code]

[2014-02-28 11:22] flex86 commented on #136
FYI: There is no 'pagination-centered' class in Bootstrap v3. You can just leave it out and surround the ul with an element which uses the class="text-center"; just like you did.

[2014-02-28 15:17] Terramune opened #201 "Pagination not working as shown"
First off, I want to say how awesome fooTables really is. My only dilemma is with the pagination feature. I am using the footables within a gridview with 200+ records, so to better speed up loading times, i was wanting to use the pagination option. However since i cant fit a <div> inside the footer of the gridview without the pagination going to the last gridview page, i am currently stuck using i

[2014-02-28 19:29] bradvin commented on #201
@Terramune glad you like FooTable :) Do you have a link to your page online? Are you using bootstrap 3? I know there have been some styling issues when using BS3 and pagination together.

Also - are you using the latest release which includes the page limit option?

[2014-02-28 19:51] Terramune commented on #201
The page is on a private test server for my client. Its not on the web until i get the kinks out. Since I'm not sure what bootstrap 3 is, I doubt I'm using it. And yes, I got the latest release. Ive attempted to set the page limit option to 5, but with no luck.

All i am doing is declaring your Js/css files, the script to call break points, and then i have a gridview with a div at the end for the

[2014-02-28 20:55] asharani009 opened #202 "Sort indicator in header not seen in IE7"
Sorting indicator for ascending and descending is shown for Firefox, ie8 but do not shown in ie7. Please help, i need info ASAP

[2014-03-01 04:18] bradvin commented on #202
you realize that IS7 ussage is less than 1% worldwide right : http://theie7countdown.com/

If you want to cater for IE7, then you will need to add some custom CSS similar to what is done here : https://github.com/FortAwesome/Font-Awesome/issues/38

[2014-03-01 04:19] bradvin commented on #201
@Terramune if you can put the source up on jsfiddle or codepen, that would be great

[2014-03-04 22:43] Terramune commented on #201
@bradvin I hate to say, but im not familiar with those well enough to post my code on there. I did end up mocking up a CSS control myself( doesnt look quite as good, but i did find out its another CSS thats causing my error). Now what im trying to figure out what is happening is limiting the page amounts. I currently have this in the Pageinate.js file:
![image](https://f.cloud.github.com/assets/68

[2014-03-05 20:01] asharani009 opened #203 "sorting is not working"
Sorting is not working. suppose i got 500 records and 10 records display at a time by using paging. if i press sorting indicator it will always sorting on the current page the user in. it do not sort entire collection. like if i sort the collection in ascending order then all the records starting with letter "a" should be at the top after that letter "b" records and so on.

[2014-03-06 17:39] bkehren commented on #197
Thanks @bradvin.  I am working with a standard asp.net gridview and found there is way to toggle the  < th > tags to be rendered in a < thead >.  Take a look at this Stackoverflow article: http://stackoverflow.com/questions/309101/how-do-i-get-gridview-to-render-thead

[2014-03-06 17:39] #197 closed, assigned to nobody

[2014-03-12 16:03] MarFan commented on #37
+1 on working with rowspan

[2014-03-12 21:31] Terramune commented on #201
Wow ok so I feel like an idiot. One of my co-workers threw in a .js file that was causing this whole problem. Im sorry for taking up anyone's time.

[2014-03-12 21:31] #201 closed, assigned to nobody

[2014-03-13 09:20] drobbo opened #205 "IE8: 'w.footable.options' is null or not an object"
Hi,

When I try to initialize footable in IE 8 I get the following error:
'w.footable.options' is null or not an object.

and when I do a console.log of 'w.footable', I get undefined.

My code is simple:

[code]

I haven't found this issue anywhere else and the examples on the website work, which is really strange.

Any ideas?

Kind regards,
Robbe

[2014-03-14 13:21] uklajo opened #206 "Performance in IE with tables > 70 rows"
Hello,
when I try to display more than (about) 70  rows in a table the IE (9,10,11) break up loading and is asking if the script should be executed furthermore.

Chrome +  FF make no problems.

(I know - do not use IE :-) ... but we have to support IE :-()

Is there a solution for this performance issue?

[2014-03-14 21:06] Zambonilli commented on #206
Seeing the same thing with IE7 and ~75 records.  It hangs to the point where IE asks to kill the script.

[2014-03-17 16:08] Zambonilli commented on #206
This looks to be caused by the ft.render method doing an expensive (~500ms/iteration) jquery select for each row in the table.  footable.js line 613

selector += ', > thead > tr[data-group-row="true"] > th[data-group="' + data.group + '"]';

[2014-03-17 19:44] bradvin commented on #206
hey guys,

Testing with IE11 (changing to IE9 and IE10 via the IE dev tools)

I tested with 200 rows and it seemed fine in "IE9". Not as fast as chrome, but it was usable. I then tested 1000 rows and things got bad!

@Zambonilli even with that line completely removed, there was no impact on the performance

[2014-03-17 21:18] Zambonilli commented on #206
Sorry, I wasn't very clear in my previous post.  It's the execution of the find with the selector that is slow (~500ms/iteration).   However, in further profiling it looks like even the logic to build the selector query each iteration is slow.

I was able to drastically reduce the redraw method's execution time by short circuiting all of the query building and executing if the column wasn't being

[2014-03-17 21:29] Zambonilli commented on #206
here's a gist of what we did.  https://gist.github.com/Zambonilli/9608773

[2014-03-17 23:12] Zambonilli commented on #206
When trying to construct a footable with 225 records even with the gist above it was raising the hanging js prompt.  So we switched over to detecting if the browser is less than IE9 and then just returning from the redraw method.  It's a cleaner fix than the other gist but still not as ideal as having feature Enabled flags.

https://gist.github.com/Zambonilli/9610278

[2014-03-18 11:09] michelreyes opened #207 "Sticky header"
is footable sticky header?

[2014-03-18 15:04] bradvin commented on #207
no, but that would be a great footable add-on
There are many sticky header plugins out there so one of them can be adapted

[2014-03-18 15:04] #207 closed, assigned to nobody

[2014-03-20 14:25] codeaholics opened #208 "Striping and filtering together broken"
The fix for #186 has broken striping on filtered tables.

[2014-03-21 16:13] jsmreese opened #209 "Missing documentation for data-page attribute."

[2014-03-25 09:23] siddharthsrivastava opened #211 "data-hide not working while loading data via ajax"
I am using footable with AngularJS binding the rows with ng-repeat.

My table has 10 columns and I did data-hide = all for all except first 4 columns. Now, when I click submit I am using the following directive in the angularJS (borrowed from:http://stackoverflow.com/questions/20243339/footable-along-with-angular-js)

When the data is populated in the table for the first time, all the columns are

[2014-03-25 14:59] akumagio opened #212 "Feature request: edit cells. enhancement question"
This table is the best!. The only thing missing is that you could edit the cell values​​. this is possible?

[2014-04-01 06:30] jlemale commented on #212
http://vitalets.github.io/x-editable/ could be a solution.

[2014-04-02 00:00] schnubor commented on #45
Hey,

1st of all thanks for footable, it's awesome and like most of the people here I'd like to use it with larger datasets/rows (e.g. 5k+). Are there any updates on the server side demo or eventually the mentioned core update?

[2014-04-03 23:14] RuanBM opened #213 "Hi How i could delete all rows of Footable."
I use ajax to fill a footable, but then I want to refresh this table, overwrite, but after using ajax my footable is filled with new data and previous data. The idea I have is to delete all rows of data before new data refresh using ajax. Someone could help me with that. thank you very much

[2014-04-09 20:32] Zambonilli opened #214 "Sorting icons are reversed"
The sort icons being displayed are reverse of what the sort order is sorted as.  If you bind to footable_sorted the direction field is correct and the data is sorted correctly.  However, the up/down content displayed is the incorrect sort icon. You can reproduce by going to the sort documentation example.

[2014-04-14 14:10] gschoppe opened #215 "Hide Specific Detail Row if Empty?"
I have a row called "notes", that is unused 90% of the time, but is critical in the situations when it is used.  I currently have it as my only `data-hide="all"` column.  This means that all of my rows have an expansion button, even though in 90% of cases, there is no useful data behind it.

Is there a way to tag the notes column, so that it won't appear in the details if it's empty, and won't tri

[2014-04-16 22:40] lancehudson opened #216 "bower compat"
bower doesn't seem to have any of your updates. I think you have to bump the version number of package.json/bower.json and tag them without a V, so it matches semantic versioning.

[2014-04-18 21:31] ghost opened #217 "remember row expand/collapse on reload"
Is it possible to keep the expanded rows expanded on a page reload? I have a page with tables that refreshes every 5 seconds, but I want that if the row is expanded or collapsed, it keeps it the same after the reload.

[2014-04-21 23:00] justawebbie opened #218 "Filtering with select option value"
I am not sure what I have done wrong exactly but 7 out of the 10 option values will filter the table which I have rechecked name, spelling etc. all is great.  The search works great. The page looks and works great. I just need help with the option values. What am I missing or not doing to make it work on all 10 of the option values for filtering?

Webpage: http://www.uaf.edu/catalog/catalog_13-14/

[2014-04-22 03:37] bradvin commented on #218
You are binding to the filtering event of footable, which I would not do in your case. Just bind to the change event of the select (which you are doing) and trigger the filter but rather use the val() of the select:

[code]

[2014-04-22 15:39] justawebbie commented on #218
So my script should look like this:

[code]

[2014-04-22 15:49] justawebbie commented on #218
Nope that is not it.  I have tried to redo the script but I seem to keep breaking the footable.  I need more classes on javascript. I am so sorry.

[2014-04-22 19:38] bradvin commented on #218
your above code looks correct - is it live on your site?

[2014-04-22 19:43] justawebbie commented on #218
I took it off because it caused the footable to loose all its css and structure.  I will add again for you to look at.

[2014-04-24 17:27] justawebbie commented on #218
Hate to seem in a rush. I know you are a busy man and I appreciate the time you take to help me out.  Did you take a look at it again by chance? It just took away all the formatting when I used that javascript.

It is a mess now does not filter at all, Please help!

[2014-04-24 17:33] bradvin commented on #218
oh, i did not realise you put the changes live. But it looks like you are not initializing footable at all anymore?

[code]

[2014-04-24 17:36] justawebbie commented on #218
Ughh! I make some the dumbest mistakes.  Thank you that works great now!

[2014-04-24 17:37] #218 closed, assigned to nobody

[2014-04-25 06:13] #209 closed, assigned to nobody